{% extends 'AppBundle::base.html.twig' %}


{% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'users.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('users_new') }}">
                    {{ icon('plus') }} {{ 'users.actions.add' | trans }}
                </a>
                    </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
            <tr>
                    {{ helper.header('appbundle.users.name') }}
                    {{ helper.header('appbundle.users.username') }}
                    {{ helper.header('appbundle.users.password') }}
                    {{ helper.header('appbundle.users.roles') }}
                    {{ helper.header('appbundle.users.createdby') }}
                    {{ helper.header('appbundle.users.createddate') }}
                    {{ helper.header('appbundle.users.modifiedby') }}
                    {{ helper.header('appbundle.users.modifieddate') }}
                {{ helper.header() }}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.roles }}</td>
                <td>{{ user.createdby }}</td>
                <td>{% if user.createddate %}{{ user.createddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.modifiedby }}</td>
                <td>{% if user.modifieddate %}{{ user.modifieddate|date('Y-m-d') }}{% endif %}</td>
                <td class="text-right">
                  <a class="btn btn-default btn-xs" href="{{ path('users_edit', { 'id': user.id }) }}">{{ 'common.edit' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
