    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'users.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('users_new') }}">
                    {{ icon('plus') }} {{ 'users.actions.new' | trans }}
                </a>
                    </div>
        <div class="col-md-3 text-right">
            <h2><small>{% include 'AppBundle:_includes:pagination_count.html.twig' %}</small></h2>
        </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'user.id'|trans, 'id') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'user.name'|trans, 'name') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'user.username'|trans, 'username') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'user.password'|trans, 'password') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'user.roles'|trans, 'roles') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'user.createdby'|trans, 'createdby') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'user.createddate'|trans, 'createddate') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'user.modifiedby'|trans, 'modifiedby') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'user.modifieddate'|trans, 'modifieddate') }}</span></div></th>
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
        <tr>
                    <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.roles }}</td>
                    <td>{{ user.createdby }}</td>
                    <td>{% if user.createddate %}{{ user.createddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ user.modifiedby }}</td>
                    <td>{% if user.modifieddate %}{{ user.modifieddate|date('d/m Y') }}{% endif %}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('users_edit', { 'id': user.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col text-center">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
        </div>
    </div>
    {% endblock %}
