    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'users.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('users_new') }}">
                    {{ icon('plus') }} {{ 'users.actions.new' | trans }}
                </a>
                    </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>
                {{ helper.header('users.id') }}
                {{ helper.header('users.name') }}
                {{ helper.header('users.username') }}
                {{ helper.header('users.password') }}
                {{ helper.header('users.roles') }}
                {{ helper.header('users.createdby') }}
                {{ helper.header('users.createddate') }}
                {{ helper.header('users.modifiedby') }}
                {{ helper.header('users.modifieddate') }}
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
                    <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.roles }}</td>
                    <td>{{ user.createdby }}</td>
                    <td>{% if user.createddate %}{{ user.createddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ user.modifiedby }}</td>
                    <td>{% if user.modifieddate %}{{ user.modifieddate|date('d/m Y') }}{% endif %}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('users_edit', { 'id': user.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
