{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="row heading">
        <div class="col-md-9">
            <h1>Users</h1>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-default" href="{{ path('users_edit', { 'id': user.id }) }}">{{ 'common.edit' | trans }}</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ icon('chevron-right') }} {{ 'users.labels.singular' | trans }}</div>
                <table class="table table-condensed">
                    <tbody>
                            <tr>
                                <th>{{ 'users.id' | trans }}</th>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'users.name' | trans }}</th>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'users.username' | trans }}</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'users.password' | trans }}</th>
                                <td>{{ user.password }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'users.roles' | trans }}</th>
                                <td>{{ user.roles }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'users.createdby' | trans }}</th>
                                <td>{{ user.createdby }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'users.createddate' | trans }}</th>
                                <td>{% if user.createddate %}{{ user.createddate|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'users.modifiedby' | trans }}</th>
                                <td>{{ user.modifiedby }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'users.modifieddate' | trans }}</th>
                                <td>{% if user.modifieddate %}{{ user.modifieddate|date('Y-m-d') }}{% endif %}</td>
                            </tr>                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
