{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'salgsomraade.actions.edit' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="{{ 'common.delete' | trans }}">
                {{ form_end(delete_form) }}        </div>
    </div>

    {{ form_start(edit_form) }}        
    {{ form_row(edit_form.createdby)}}        
    {{ form_row(edit_form.createddate)}}        
    {{ form_row(edit_form.modifiedby)}}        
    {{ form_row(edit_form.modifieddate)}}        
    {{ form_row(edit_form.nr)}}        
    {{ form_row(edit_form.titel)}}        
    {{ form_row(edit_form.type)}}        
    {{ form_row(edit_form.matrikkel1)}}        
    {{ form_row(edit_form.matrikkel2)}}        
    {{ form_row(edit_form.ejerlav)}}        
    {{ form_row(edit_form.vej)}}        
    {{ form_row(edit_form.gisurl)}}        
    {{ form_row(edit_form.tilsluttet)}}        
    {{ form_row(edit_form.sagsnr)}}        
    {{ form_row(edit_form.lploebenummer)}}    {{ form_end(edit_form) }}
    <input type="submit" class="btn btn-primary" value="{{ 'common.edit' | trans }}" />

{% endblock %}
