{% extends 'AppBundle::base.html.twig' %}


{% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'salgsomraade.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('salgsomraade_new') }}">
                    {{ icon('plus') }} {{ 'salgsomraade.actions.add' | trans }}
                </a>
                    </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
            <tr>
                    {{ helper.header('appbundle.salgsomraade.createdby') }}
                    {{ helper.header('appbundle.salgsomraade.createddate') }}
                    {{ helper.header('appbundle.salgsomraade.modifiedby') }}
                    {{ helper.header('appbundle.salgsomraade.modifieddate') }}
                    {{ helper.header('appbundle.salgsomraade.nr') }}
                    {{ helper.header('appbundle.salgsomraade.titel') }}
                    {{ helper.header('appbundle.salgsomraade.type') }}
                    {{ helper.header('appbundle.salgsomraade.matrikkel1') }}
                    {{ helper.header('appbundle.salgsomraade.matrikkel2') }}
                    {{ helper.header('appbundle.salgsomraade.ejerlav') }}
                    {{ helper.header('appbundle.salgsomraade.vej') }}
                    {{ helper.header('appbundle.salgsomraade.gisurl') }}
                    {{ helper.header('appbundle.salgsomraade.tilsluttet') }}
                    {{ helper.header('appbundle.salgsomraade.sagsnr') }}
                    {{ helper.header('appbundle.salgsomraade.lploebenummer') }}
                {{ helper.header() }}
            </tr>
        </thead>
        <tbody>
        {% for salgsomraade in salgsomraades %}
            <tr>
                <td><a href="{{ path('salgsomraade_show', { 'id': salgsomraade.id }) }}">{{ salgsomraade.id }}</a></td>
                <td>{{ salgsomraade.createdby }}</td>
                <td>{% if salgsomraade.createddate %}{{ salgsomraade.createddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ salgsomraade.modifiedby }}</td>
                <td>{% if salgsomraade.modifieddate %}{{ salgsomraade.modifieddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ salgsomraade.nr }}</td>
                <td>{{ salgsomraade.titel }}</td>
                <td>{{ salgsomraade.type }}</td>
                <td>{{ salgsomraade.matrikkel1 }}</td>
                <td>{{ salgsomraade.matrikkel2 }}</td>
                <td>{{ salgsomraade.ejerlav }}</td>
                <td>{{ salgsomraade.vej }}</td>
                <td>{{ salgsomraade.gisurl }}</td>
                <td>{{ salgsomraade.tilsluttet }}</td>
                <td>{{ salgsomraade.sagsnr }}</td>
                <td>{{ salgsomraade.lploebenummer }}</td>
                <td class="text-right">
                  <a class="btn btn-default btn-xs" href="{{ path('salgsomraade_edit', { 'id': salgsomraade.id }) }}">{{ 'common.edit' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salgsomraade_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
