    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'salgsomraade.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('salgsomraade_new') }}">
                    {{ icon('plus') }} {{ 'salgsomraade.actions.new' | trans }}
                </a>
                    </div>
        <div class="col-md-3 text-right">
            <h2><small>{% include 'AppBundle:_includes:pagination_count.html.twig' %}</small></h2>
        </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.id'|trans, 'id') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.createdby'|trans, 'createdby') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.createddate'|trans, 'createddate') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.modifiedby'|trans, 'modifiedby') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.modifieddate'|trans, 'modifieddate') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.nr'|trans, 'nr') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.titel'|trans, 'titel') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.type'|trans, 'type') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.matrikkel1'|trans, 'matrikkel1') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.matrikkel2'|trans, 'matrikkel2') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.ejerlav'|trans, 'ejerlav') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.vej'|trans, 'vej') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.gisurl'|trans, 'gisurl') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.tilsluttet'|trans, 'tilsluttet') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.sagsnr'|trans, 'sagsnr') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'salgsomraade.lploebenummer'|trans, 'lploebenummer') }}</span></div></th>
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for salgsomraade in pagination %}
        <tr>
                    <td><a href="{{ path('salgsomraade_show', { 'id': salgsomraade.id }) }}">{{ salgsomraade.id }}</a></td>
                    <td>{{ salgsomraade.createdby }}</td>
                    <td>{% if salgsomraade.createddate %}{{ salgsomraade.createddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ salgsomraade.modifiedby }}</td>
                    <td>{% if salgsomraade.modifieddate %}{{ salgsomraade.modifieddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ salgsomraade.nr }}</td>
                    <td>{{ salgsomraade.titel }}</td>
                    <td>{{ salgsomraade.type }}</td>
                    <td>{{ salgsomraade.matrikkel1 }}</td>
                    <td>{{ salgsomraade.matrikkel2 }}</td>
                    <td>{{ salgsomraade.ejerlav }}</td>
                    <td>{{ salgsomraade.vej }}</td>
                    <td>{{ salgsomraade.gisurl }}</td>
                    <td>{{ salgsomraade.tilsluttet }}</td>
                    <td>{{ salgsomraade.sagsnr }}</td>
                    <td>{{ salgsomraade.lploebenummer }}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('salgsomraade_edit', { 'id': salgsomraade.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col text-center">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
        </div>
    </div>
    {% endblock %}
