  {% extends 'AppBundle::base.html.twig' %}


  {% block body -%}

  <div class="row heading">
    <div class="col-md-9">
        <h1>{{ 'salgsomraade.labels.plural' | trans }}</h1>
    </div>
    <div class="col-md-3 text-right">
              <a class="btn btn-default" href="{{ path('salgsomraade_new') }}">
          {{ icon('plus') }} {{ 'salgsomraade.actions.add' | trans }}
        </a>
          </div>

  </div>


  <table class="table table-condensed table-header-rotated">
    <thead>
    <tr>
        {{ helper.header('appbundle.salgsomraade.createdby') }}
        {{ helper.header('appbundle.salgsomraade.createddate') }}
        {{ helper.header('appbundle.salgsomraade.modifiedby') }}
        {{ helper.header('appbundle.salgsomraade.modifieddate') }}
        {{ helper.header('appbundle.salgsomraade.nr') }}
        {{ helper.header('appbundle.salgsomraade.titel') }}
        {{ helper.header('appbundle.salgsomraade.type') }}
        {{ helper.header('appbundle.salgsomraade.matrikkel1') }}
        {{ helper.header('appbundle.salgsomraade.matrikkel2') }}
        {{ helper.header('appbundle.salgsomraade.ejerlav') }}
        {{ helper.header('appbundle.salgsomraade.vej') }}
        {{ helper.header('appbundle.salgsomraade.gisurl') }}
        {{ helper.header('appbundle.salgsomraade.tilsluttet') }}
        {{ helper.header('appbundle.salgsomraade.sagsnr') }}
        {{ helper.header('appbundle.salgsomraade.lploebenummer') }}
      {{ helper.header() }}
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
                  <td>{{ entity.createdby }}</td>
        
                  <td>{{ entity.createddate | date("d/m Y") }}</td>
        
                  <td>{{ entity.modifiedby }}</td>
        
                  <td>{{ entity.modifieddate | date("d/m Y") }}</td>
        
                  <td>{{ entity.nr }}</td>
        
                  <td>{{ entity.titel }}</td>
        
                  <td>{{ entity.type }}</td>
        
                  <td>{{ entity.matrikkel1 }}</td>
        
                  <td>{{ entity.matrikkel2 }}</td>
        
                  <td>{{ entity.ejerlav }}</td>
        
                  <td>{{ entity.vej }}</td>
        
                  <td>{{ entity.gisurl }}</td>
        
                  <td>{{ entity.tilsluttet }}</td>
        
                  <td>{{ entity.sagsnr }}</td>
        
                  <td>{{ entity.lploebenummer }}</td>
        
      <td class="text-right">    <a class="btn btn-default btn-xs" href="{{ path('salgsomraade_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>

      </td>

    </tr>
    {% endfor %}
    </tbody>
  </table>

  {% endblock %}
