{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="row heading">
        <div class="col-md-9">
            <h1>Salgsomraade</h1>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-default" href="{{ path('salgsomraade_edit', { 'id': salgsomraade.id }) }}">{{ 'common.edit' | trans }}</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ icon('chevron-right') }} {{ 'salgsomraade.labels.singular' | trans }}</div>
                <table class="table table-condensed">
                    <tbody>
                            <tr>
                                <th>{{ 'salgsomraade.id' | trans }}</th>
                                <td>{{ salgsomraade.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.nr' | trans }}</th>
                                <td>{{ salgsomraade.nr }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.titel' | trans }}</th>
                                <td>{{ salgsomraade.titel }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.type' | trans }}</th>
                                <td>{{ salgsomraade.type }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.matrikkel1' | trans }}</th>
                                <td>{{ salgsomraade.matrikkel1 }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.matrikkel2' | trans }}</th>
                                <td>{{ salgsomraade.matrikkel2 }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.ejerlav' | trans }}</th>
                                <td>{{ salgsomraade.ejerlav }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.vej' | trans }}</th>
                                <td>{{ salgsomraade.vej }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.gisurl' | trans }}</th>
                                <td>{{ salgsomraade.gisurl }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.tilsluttet' | trans }}</th>
                                <td>{{ salgsomraade.tilsluttet }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.sagsnr' | trans }}</th>
                                <td>{{ salgsomraade.sagsnr }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.lploebenummer' | trans }}</th>
                                <td>{{ salgsomraade.lploebenummer }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.createdBy' | trans }}</th>
                                <td>{{ salgsomraade.createdBy }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.updatedBy' | trans }}</th>
                                <td>{{ salgsomraade.updatedBy }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.createdAt' | trans }}</th>
                                <td>{% if salgsomraade.createdAt %}{{ salgsomraade.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgsomraade.updatedAt' | trans }}</th>
                                <td>{% if salgsomraade.updatedAt %}{{ salgsomraade.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
