  {% extends 'AppBundle::base.html.twig' %}


  {% block body -%}
  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ 'interessentgrundmapping.actions.edit' | trans }}</h1>
    </div>
    <div class="col-md-3 text-right">
       {{ form(delete_form) }} 
    </div>

  </div>

  {{ form_start(edit_form) }}            
    {{ form_row(edit_form.annulleret)}}
      

    {{ form_rest(edit_form) }}
  
  {{ form_end(edit_form) }}

    {% endblock %}
