<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico')) }}" />

    <title>{% block title %}Grundsalg Admin{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ absolute_url(asset('css/lib/bootstrap.min.css')) }}" type="text/css" rel="stylesheet" />
        <link href="{{ absolute_url(asset('css/lib/bootstrap-theme.min.css')) }}" type="text/css" rel="stylesheet" />
        <link href="{{ absolute_url(asset('css/lib/font-awesome.min.css')) }}" type="text/css" rel="stylesheet" />
        <link href="{{ absolute_url(asset('css/lib/sticky-footer-navbar.css')) }}" type="text/css" rel="stylesheet" />
        <link href="{{ absolute_url(asset('css/styles.css')) }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-absolute-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Arealudvikling Aarhus</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="nav navbar-nav">
                    <li><a href="/grund">{{ icon('map') }} {{ 'grund.labels.plural' | trans }}</a></li>
                    <li><a href="/delomraade">{{ icon('industry') }} {{ 'delomraade.labels.plural' | trans }}</a></li>
                    <li><a href="/interessent">{{ icon('user') }} {{ 'interessent.labels.plural' | trans }}</a></li>
                    <li><a href="/landinspektoer">{{ icon('eye') }} {{ 'landinspektoer.labels.plural' | trans }}</a></li>
                    <li><a href="/lokalplan">{{ icon('tree') }} {{ 'lokalplan.labels.plural' | trans }}</a></li>
                    <li><a href="/lokalsamfund">{{ icon('folder-open') }} {{ 'lokalsamfund.labels.plural' | trans }}</a></li>
                    <li><a href="/opkoeb">{{ icon('euro') }} {{ 'opkoeb.labels.plural' | trans }}</a></li>
                    <li><a href="/postby">{{ icon('home') }} {{ 'postby.labels.plural' | trans }}</a></li>
                    <li><a href="/salgshistorik">{{ icon('history') }} {{ 'salgshistorik.labels.plural' | trans }}</a></li>
                    <li><a href="/salgsomraade">{{ icon('bus') }} {{ 'salgsomraade.labels.plural' | trans }}</a></li>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li><a href="/user">{{ icon('users') }} {{ 'user.labels.plural' | trans }}</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">{{ icon('user') }} {{ 'fos.user.profile.title' | trans }}</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">{{ icon('key') }} {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    </li>
                    {% if app.environment == 'dev' %}
                        <li>{% include 'AppBundle:_includes:impersonation.html.twig' %}</li>
                    {% endif %}
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ icon('sign-out') }} {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                </ul>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% macro header(key) %}
    {% set calculation = key %}

    <th class="rotate">
        <div>
            {% if calculation is null %}
                <span>{{ key | trans }}</span>
            {% else %}
                <span data-calculation="{{ calculation }}">{{ key | trans }}</span>
            {% endif %}
        </div>
    </th>
{% endmacro %}

{% macro header_unit(key, column, classNames, dataAttribute) %}
    {% set translation = key %}

    {% if column %}
        <th class="unit {{ classNames }} column-sort" data-column="{{ column }}" data-attr="{{ dataAttribute ? 'data-' ~ dataAttribute : '' }}">
            {{ translation }}
        </th>
    {% else %}
        <th class="unit {{ classNames }}">
            {{ translation }}
        </th>
    {% endif %}
{% endmacro %}

{% macro header_filter(column, classNames) %}
    {% if column %}
        <td class="column-filter {{ column }} {{ classNames }}"><input style="width: 0" data-column="{{ column }}"/></td>
    {% else %}
        <td></td>
    {% endif %}
{% endmacro %}

{% import _self as helper %}

<!-- Begin page content -->

<div class="container-fluid container-main">
    {{ wo_render_breadcrumbs() }}

    <div class="grundsalg-flashes">
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
    </div>

    {% block body %}{% endblock %}
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                <img src="{{ absolute_url(asset('img/aarhus-logo.png')) }}" class="footer-logo" />
            </div>
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascripts %}
    <script src="{{ absolute_url(asset('js/lib/jquery.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('js/lib/bootstrap.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('js/lib/bc-bootstrap-collection.js')) }}"></script>
    <script src="{{ absolute_url(asset('js/lib/jquery.autogrowtextarea.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('js/lib/jquery.floatThead.min.js')) }}"></script>

    <script>
        $(document).ready(function() {
            {% block documentReady %}{% endblock documentReady %}
        });
    </script>
{% endblock %}

</body>
</html>
