    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'landinspektoer.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('landinspektoer_new') }}">
                    {{ icon('plus') }} {{ 'landinspektoer.actions.new' | trans }}
                </a>
                    </div>
        <div class="col-md-3 text-right">
            <h2><small>{% include 'AppBundle:_includes:pagination_count.html.twig' %}</small></h2>
        </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.id'|trans, 'id') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.adresse'|trans, 'adresse') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.email'|trans, 'email') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.mobil'|trans, 'mobil') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.navn'|trans, 'navn') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.notat'|trans, 'notat') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.telefon'|trans, 'telefon') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.postnrid'|trans, 'postnrid') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.createdby'|trans, 'createdby') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.createddate'|trans, 'createddate') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.modifiedby'|trans, 'modifiedby') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.modifieddate'|trans, 'modifieddate') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'landinspektoer.active'|trans, 'active') }}</span></div></th>
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for landinspektoer in pagination %}
        <tr>
                    <td><a href="{{ path('landinspektoer_show', { 'id': landinspektoer.id }) }}">{{ landinspektoer.id }}</a></td>
                    <td>{{ landinspektoer.adresse }}</td>
                    <td>{{ landinspektoer.email }}</td>
                    <td>{{ landinspektoer.mobil }}</td>
                    <td>{{ landinspektoer.navn }}</td>
                    <td>{{ landinspektoer.notat }}</td>
                    <td>{{ landinspektoer.telefon }}</td>
                    <td>{{ landinspektoer.postnrid }}</td>
                    <td>{{ landinspektoer.createdby }}</td>
                    <td>{% if landinspektoer.createddate %}{{ landinspektoer.createddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ landinspektoer.modifiedby }}</td>
                    <td>{% if landinspektoer.modifieddate %}{{ landinspektoer.modifieddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ landinspektoer.active }}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('landinspektoer_edit', { 'id': landinspektoer.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col text-center">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
        </div>
    </div>
    {% endblock %}
