{% extends 'AppBundle::base.html.twig' %}


{% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'landinspektoer.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('landinspektoer_new') }}">
                    {{ icon('plus') }} {{ 'landinspektoer.actions.add' | trans }}
                </a>
                    </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
            <tr>
                    {{ helper.header('appbundle.landinspektoer.adresse') }}
                    {{ helper.header('appbundle.landinspektoer.email') }}
                    {{ helper.header('appbundle.landinspektoer.mobil') }}
                    {{ helper.header('appbundle.landinspektoer.navn') }}
                    {{ helper.header('appbundle.landinspektoer.notat') }}
                    {{ helper.header('appbundle.landinspektoer.telefon') }}
                    {{ helper.header('appbundle.landinspektoer.postnrid') }}
                    {{ helper.header('appbundle.landinspektoer.createdby') }}
                    {{ helper.header('appbundle.landinspektoer.createddate') }}
                    {{ helper.header('appbundle.landinspektoer.modifiedby') }}
                    {{ helper.header('appbundle.landinspektoer.modifieddate') }}
                    {{ helper.header('appbundle.landinspektoer.active') }}
                {{ helper.header() }}
            </tr>
        </thead>
        <tbody>
        {% for landinspektoer in landinspektoers %}
            <tr>
                <td><a href="{{ path('landinspektoer_show', { 'id': landinspektoer.id }) }}">{{ landinspektoer.id }}</a></td>
                <td>{{ landinspektoer.adresse }}</td>
                <td>{{ landinspektoer.email }}</td>
                <td>{{ landinspektoer.mobil }}</td>
                <td>{{ landinspektoer.navn }}</td>
                <td>{{ landinspektoer.notat }}</td>
                <td>{{ landinspektoer.telefon }}</td>
                <td>{{ landinspektoer.postnrid }}</td>
                <td>{{ landinspektoer.createdby }}</td>
                <td>{% if landinspektoer.createddate %}{{ landinspektoer.createddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ landinspektoer.modifiedby }}</td>
                <td>{% if landinspektoer.modifieddate %}{{ landinspektoer.modifieddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ landinspektoer.active }}</td>
                <td class="text-right">
                  <a class="btn btn-default btn-xs" href="{{ path('landinspektoer_edit', { 'id': landinspektoer.id }) }}">{{ 'common.edit' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('landinspektoer_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
