{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Landinspektoer list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Mobil</th>
                <th>Navn</th>
                <th>Notat</th>
                <th>Telefon</th>
                <th>Postnrid</th>
                <th>Createdby</th>
                <th>Createddate</th>
                <th>Modifiedby</th>
                <th>Modifieddate</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for landinspektoer in landinspektoers %}
            <tr>
                <td><a href="{{ path('landinspektoer_show', { 'id': landinspektoer.id }) }}">{{ landinspektoer.id }}</a></td>
                <td>{{ landinspektoer.adresse }}</td>
                <td>{{ landinspektoer.email }}</td>
                <td>{{ landinspektoer.mobil }}</td>
                <td>{{ landinspektoer.navn }}</td>
                <td>{{ landinspektoer.notat }}</td>
                <td>{{ landinspektoer.telefon }}</td>
                <td>{{ landinspektoer.postnrid }}</td>
                <td>{{ landinspektoer.createdby }}</td>
                <td>{% if landinspektoer.createddate %}{{ landinspektoer.createddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ landinspektoer.modifiedby }}</td>
                <td>{% if landinspektoer.modifieddate %}{{ landinspektoer.modifieddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ landinspektoer.active }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('landinspektoer_show', { 'id': landinspektoer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('landinspektoer_edit', { 'id': landinspektoer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('landinspektoer_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
