{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="row heading">
        <div class="col-md-9">
            <h1>Landinspektoer</h1>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-default" href="{{ path('landinspektoer_edit', { 'id': landinspektoer.id }) }}">{{ 'common.edit' | trans }}</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ icon('chevron-right') }} {{ 'landinspektoer.labels.singular' | trans }}</div>
                <table class="table table-condensed">
                    <tbody>
                            <tr>
                                <th>{{ 'landinspektoer.id' | trans }}</th>
                                <td>{{ landinspektoer.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.adresse' | trans }}</th>
                                <td>{{ landinspektoer.adresse }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.email' | trans }}</th>
                                <td>{{ landinspektoer.email }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.mobil' | trans }}</th>
                                <td>{{ landinspektoer.mobil }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.navn' | trans }}</th>
                                <td>{{ landinspektoer.navn }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.notat' | trans }}</th>
                                <td>{{ landinspektoer.notat }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.telefon' | trans }}</th>
                                <td>{{ landinspektoer.telefon }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.postnrid' | trans }}</th>
                                <td>{{ landinspektoer.postnrid }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.active' | trans }}</th>
                                <td>{{ landinspektoer.active }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.createdBy' | trans }}</th>
                                <td>{{ landinspektoer.createdBy }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.updatedBy' | trans }}</th>
                                <td>{{ landinspektoer.updatedBy }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.createdAt' | trans }}</th>
                                <td>{% if landinspektoer.createdAt %}{{ landinspektoer.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'landinspektoer.updatedAt' | trans }}</th>
                                <td>{% if landinspektoer.updatedAt %}{{ landinspektoer.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
