{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Landinspektoer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ landinspektoer.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ landinspektoer.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ landinspektoer.email }}</td>
            </tr>
            <tr>
                <th>Mobil</th>
                <td>{{ landinspektoer.mobil }}</td>
            </tr>
            <tr>
                <th>Navn</th>
                <td>{{ landinspektoer.navn }}</td>
            </tr>
            <tr>
                <th>Notat</th>
                <td>{{ landinspektoer.notat }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ landinspektoer.telefon }}</td>
            </tr>
            <tr>
                <th>Postnrid</th>
                <td>{{ landinspektoer.postnrid }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ landinspektoer.createdby }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if landinspektoer.createddate %}{{ landinspektoer.createddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedby</th>
                <td>{{ landinspektoer.modifiedby }}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if landinspektoer.modifieddate %}{{ landinspektoer.modifieddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ landinspektoer.active }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('landinspektoer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('landinspektoer_edit', { 'id': landinspektoer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
