  {% extends 'AppBundle::base.html.twig' %}


{% block body -%}
  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ entity }}</h1>
    </div>
    <div class="col-md-3 text-right">    <a class="btn btn-default btn-default" href="{{ path('opkoeb_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('chevron-right') }} {{ 'opkoeb.labels.singular' | trans }}</div>
        <table class="table table-condensed">
          <tbody>
            <tr>
              <th>{{ 'appbundle.opkoeb.matrik1' | trans }}</th>
                <td>{{ entity.matrik1 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.opkoeb.matrik2' | trans }}</th>
                <td>{{ entity.matrik2 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.opkoeb.ejerlav' | trans }}</th>
                <td>{{ entity.ejerlav }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.opkoeb.m2' | trans }}</th>
                <td>{{ entity.m2 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.opkoeb.bemaerkning' | trans }}</th>
                <td>{{ entity.bemaerkning }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.opkoeb.opkoebdato' | trans }}</th>
                <td>{{ entity.opkoebdato|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.opkoeb.pris' | trans }}</th>
                <td>{{ entity.pris }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.opkoeb.procentaflp' | trans }}</th>
                <td>{{ entity.procentaflp }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.opkoeb.createdby' | trans }}</th>
                <td>{{ entity.createdby }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.opkoeb.createddate' | trans }}</th>
                <td>{{ entity.createddate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.opkoeb.modifiedby' | trans }}</th>
                <td>{{ entity.modifiedby }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.opkoeb.modifieddate' | trans }}</th>
                <td>{{ entity.modifieddate|date('Y-m-d H:i:s') }}</td>
            </tr>          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
