{% extends 'AppBundle::base.html.twig' %}


{% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'lokalplan.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('lokalplan_new') }}">
                    {{ icon('plus') }} {{ 'lokalplan.actions.add' | trans }}
                </a>
                    </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
            <tr>
                    {{ helper.header('appbundle.lokalplan.nr') }}
                    {{ helper.header('appbundle.lokalplan.lsnr') }}
                    {{ helper.header('appbundle.lokalplan.titel') }}
                    {{ helper.header('appbundle.lokalplan.projektleder') }}
                    {{ helper.header('appbundle.lokalplan.telefon') }}
                    {{ helper.header('appbundle.lokalplan.lokalplanlink') }}
                    {{ helper.header('appbundle.lokalplan.samletareal') }}
                    {{ helper.header('appbundle.lokalplan.salgbartareal') }}
                    {{ helper.header('appbundle.lokalplan.forbrugsandel') }}
                    {{ helper.header('appbundle.lokalplan.createdby') }}
                    {{ helper.header('appbundle.lokalplan.createddate') }}
                    {{ helper.header('appbundle.lokalplan.modifiedby') }}
                    {{ helper.header('appbundle.lokalplan.modifieddate') }}
                {{ helper.header() }}
            </tr>
        </thead>
        <tbody>
        {% for lokalplan in lokalplans %}
            <tr>
                <td><a href="{{ path('lokalplan_show', { 'id': lokalplan.id }) }}">{{ lokalplan.id }}</a></td>
                <td>{{ lokalplan.nr }}</td>
                <td>{{ lokalplan.lsnr }}</td>
                <td>{{ lokalplan.titel }}</td>
                <td>{{ lokalplan.projektleder }}</td>
                <td>{{ lokalplan.telefon }}</td>
                <td>{{ lokalplan.lokalplanlink }}</td>
                <td>{{ lokalplan.samletareal }}</td>
                <td>{{ lokalplan.salgbartareal }}</td>
                <td>{{ lokalplan.forbrugsandel }}</td>
                <td>{{ lokalplan.createdby }}</td>
                <td>{% if lokalplan.createddate %}{{ lokalplan.createddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ lokalplan.modifiedby }}</td>
                <td>{% if lokalplan.modifieddate %}{{ lokalplan.modifieddate|date('Y-m-d') }}{% endif %}</td>
                <td class="text-right">
                  <a class="btn btn-default btn-xs" href="{{ path('lokalplan_edit', { 'id': lokalplan.id }) }}">{{ 'common.edit' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lokalplan_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
