    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'lokalplan.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('lokalplan_new') }}">
                    {{ icon('plus') }} {{ 'lokalplan.actions.add' | trans }}
                </a>
                    </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>
                {{ helper.header('lokalplan.id') }}
                {{ helper.header('lokalplan.nr') }}
                {{ helper.header('lokalplan.lsnr') }}
                {{ helper.header('lokalplan.titel') }}
                {{ helper.header('lokalplan.projektleder') }}
                {{ helper.header('lokalplan.telefon') }}
                {{ helper.header('lokalplan.lokalplanlink') }}
                {{ helper.header('lokalplan.samletareal') }}
                {{ helper.header('lokalplan.salgbartareal') }}
                {{ helper.header('lokalplan.forbrugsandel') }}
                {{ helper.header('lokalplan.createdby') }}
                {{ helper.header('lokalplan.createddate') }}
                {{ helper.header('lokalplan.modifiedby') }}
                {{ helper.header('lokalplan.modifieddate') }}
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for lokalplan in lokalplans %}
        <tr>
                    <td><a href="{{ path('lokalplan_show', { 'id': lokalplan.id }) }}">{{ lokalplan.id }}</a></td>
                    <td>{{ lokalplan.nr }}</td>
                    <td>{{ lokalplan.lsnr }}</td>
                    <td>{{ lokalplan.titel }}</td>
                    <td>{{ lokalplan.projektleder }}</td>
                    <td>{{ lokalplan.telefon }}</td>
                    <td>{{ lokalplan.lokalplanlink }}</td>
                    <td>{{ lokalplan.samletareal }}</td>
                    <td>{{ lokalplan.salgbartareal }}</td>
                    <td>{{ lokalplan.forbrugsandel }}</td>
                    <td>{{ lokalplan.createdby }}</td>
                    <td>{% if lokalplan.createddate %}{{ lokalplan.createddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ lokalplan.modifiedby }}</td>
                    <td>{% if lokalplan.modifieddate %}{{ lokalplan.modifieddate|date('d/m Y') }}{% endif %}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('lokalplan_edit', { 'id': lokalplan.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
