    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'lokalplan.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('lokalplan_new') }}">
                    {{ icon('plus') }} {{ 'lokalplan.actions.new' | trans }}
                </a>
                    </div>
        <div class="col-md-3 text-right">
            <h2><small>{% include 'AppBundle:_includes:pagination_count.html.twig' %}</small></h2>
        </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.id'|trans, 'id') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.nr'|trans, 'nr') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.lsnr'|trans, 'lsnr') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.titel'|trans, 'titel') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.projektleder'|trans, 'projektleder') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.telefon'|trans, 'telefon') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.lokalplanlink'|trans, 'lokalplanlink') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.samletareal'|trans, 'samletareal') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.salgbartareal'|trans, 'salgbartareal') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.forbrugsandel'|trans, 'forbrugsandel') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.createdBy'|trans, 'createdBy') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.updatedBy'|trans, 'updatedBy') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.createdAt'|trans, 'createdAt') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'lokalplan.updatedAt'|trans, 'updatedAt') }}</span></div></th>
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for lokalplan in pagination %}
        <tr>
                    <td><a href="{{ path('lokalplan_show', { 'id': lokalplan.id }) }}">{{ lokalplan.id }}</a></td>
                    <td>{{ lokalplan.nr }}</td>
                    <td>{{ lokalplan.lsnr }}</td>
                    <td>{{ lokalplan.titel }}</td>
                    <td>{{ lokalplan.projektleder }}</td>
                    <td>{{ lokalplan.telefon }}</td>
                    <td>{{ lokalplan.lokalplanlink }}</td>
                    <td>{{ lokalplan.samletareal }}</td>
                    <td>{{ lokalplan.salgbartareal }}</td>
                    <td>{{ lokalplan.forbrugsandel }}</td>
                    <td>{{ lokalplan.createdBy }}</td>
                    <td>{{ lokalplan.updatedBy }}</td>
                    <td>{% if lokalplan.createdAt %}{{ lokalplan.createdAt|date('d/m Y H:i:s') }}{% endif %}</td>
                    <td>{% if lokalplan.updatedAt %}{{ lokalplan.updatedAt|date('d/m Y H:i:s') }}{% endif %}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('lokalplan_edit', { 'id': lokalplan.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col text-center">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
        </div>
    </div>
    {% endblock %}
