{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Lokalplan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lokalplan.id }}</td>
            </tr>
            <tr>
                <th>Nr</th>
                <td>{{ lokalplan.nr }}</td>
            </tr>
            <tr>
                <th>Lsnr</th>
                <td>{{ lokalplan.lsnr }}</td>
            </tr>
            <tr>
                <th>Titel</th>
                <td>{{ lokalplan.titel }}</td>
            </tr>
            <tr>
                <th>Projektleder</th>
                <td>{{ lokalplan.projektleder }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ lokalplan.telefon }}</td>
            </tr>
            <tr>
                <th>Lokalplanlink</th>
                <td>{{ lokalplan.lokalplanlink }}</td>
            </tr>
            <tr>
                <th>Samletareal</th>
                <td>{{ lokalplan.samletareal }}</td>
            </tr>
            <tr>
                <th>Salgbartareal</th>
                <td>{{ lokalplan.salgbartareal }}</td>
            </tr>
            <tr>
                <th>Forbrugsandel</th>
                <td>{{ lokalplan.forbrugsandel }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ lokalplan.createdby }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if lokalplan.createddate %}{{ lokalplan.createddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedby</th>
                <td>{{ lokalplan.modifiedby }}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if lokalplan.modifieddate %}{{ lokalplan.modifieddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lokalplan_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lokalplan_edit', { 'id': lokalplan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
