{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="row heading">
        <div class="col-md-9">
            <h1>Lokalplan</h1>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-default" href="{{ path('lokalplan_edit', { 'id': lokalplan.id }) }}">{{ 'common.edit' | trans }}</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ icon('chevron-right') }} {{ 'lokalplan.labels.singular' | trans }}</div>
                <table class="table table-condensed">
                    <tbody>
                            <tr>
                                <th>{{ 'lokalplan.id' | trans }}</th>
                                <td>{{ lokalplan.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.nr' | trans }}</th>
                                <td>{{ lokalplan.nr }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.lokalsamfund' | trans }}</th>
                                <td>{{ lokalplan.lokalsamfund }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.titel' | trans }}</th>
                                <td>{{ lokalplan.titel }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.projektleder' | trans }}</th>
                                <td>{{ lokalplan.projektleder }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.telefon' | trans }}</th>
                                <td>{{ lokalplan.telefon }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.lokalplanlink' | trans }}</th>
                                <td>{{ lokalplan.lokalplanlink }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.samletareal' | trans }}</th>
                                <td>{{ lokalplan.samletareal }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.salgbartareal' | trans }}</th>
                                <td>{{ lokalplan.salgbartareal }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.forbrugsandel' | trans }}</th>
                                <td>{{ lokalplan.forbrugsandel }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.createdBy' | trans }}</th>
                                <td>{{ lokalplan.createdBy }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.updatedBy' | trans }}</th>
                                <td>{{ lokalplan.updatedBy }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.createdAt' | trans }}</th>
                                <td>{% if lokalplan.createdAt %}{{ lokalplan.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'lokalplan.updatedAt' | trans }}</th>
                                <td>{% if lokalplan.updatedAt %}{{ lokalplan.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
