{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}
  <div class="box box--primary">
    <div class="box-body">
      <div class="row">
        <h3 class="col-sm-12">
          <i class="fa fa-bar-chart"></i> {{ 'app.stats.statistik' | trans }}
        </h3>

        <div class="col-sm-12">

          <table class="table table-striped">
            <tr>
              <th>{{ 'app.stats.year' | trans }}</th>
              <th>{{ 'app.stats.pris' | trans }}</th>
              <th>{{ 'app.stats.salgspris' | trans }}</th>
              <th>{{ 'app.stats.thecount' | trans }}</th>
            </tr>
            {% for r in result %}
              <tr>
                <td class="text-left">{{ r['year'] }}</td>
                <td class="text-right">{{ r['pris'] | number_format }}</td>
                <td class="text-right">{{ r['salgspris'] | number_format }}</td>
                <td class="text-right">{{ r['thecount'] }}</td>
              </tr>
            {% endfor %}
          </table>

        </div>
      </div>
    </div>
  </div>
{% endblock %}