{% extends 'base.html.twig' %}

{% block body %}
    <h1>Delomraade list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Kpl1</th>
                <th>Kpl2</th>
                <th>Kpl3</th>
                <th>Kpl4</th>
                <th>O1</th>
                <th>O2</th>
                <th>O3</th>
                <th>Anvendelse</th>
                <th>Mulighedfor</th>
                <th>Createdby</th>
                <th>Createddate</th>
                <th>Modifiedby</th>
                <th>Modifieddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for delomraade in delomraades %}
            <tr>
                <td><a href="{{ path('admin_delomraade_show', { 'id': delomraade.id }) }}">{{ delomraade.id }}</a></td>
                <td>{{ delomraade.kpl1 }}</td>
                <td>{{ delomraade.kpl2 }}</td>
                <td>{{ delomraade.kpl3 }}</td>
                <td>{{ delomraade.kpl4 }}</td>
                <td>{{ delomraade.o1 }}</td>
                <td>{{ delomraade.o2 }}</td>
                <td>{{ delomraade.o3 }}</td>
                <td>{{ delomraade.anvendelse }}</td>
                <td>{{ delomraade.mulighedfor }}</td>
                <td>{{ delomraade.createdby }}</td>
                <td>{% if delomraade.createddate %}{{ delomraade.createddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ delomraade.modifiedby }}</td>
                <td>{% if delomraade.modifieddate %}{{ delomraade.modifieddate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_delomraade_show', { 'id': delomraade.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_delomraade_edit', { 'id': delomraade.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_delomraade_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
