    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'delomraade.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('delomraade_new') }}">
                    {{ icon('plus') }} {{ 'delomraade.actions.new' | trans }}
                </a>
                    </div>
        <div class="col-md-3 text-right">
            <h2><small>{% include 'AppBundle:_includes:pagination_count.html.twig' %}</small></h2>
        </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.id'|trans, 'id') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.kpl1'|trans, 'kpl1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.kpl2'|trans, 'kpl2') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.kpl3'|trans, 'kpl3') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.kpl4'|trans, 'kpl4') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.o1'|trans, 'o1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.o2'|trans, 'o2') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.o3'|trans, 'o3') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.anvendelse'|trans, 'anvendelse') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.mulighedfor'|trans, 'mulighedfor') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.createdby'|trans, 'createdby') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.createddate'|trans, 'createddate') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.modifiedby'|trans, 'modifiedby') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'delomraade.modifieddate'|trans, 'modifieddate') }}</th>
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for delomraade in pagination %}
        <tr>
                    <td><a href="{{ path('delomraade_show', { 'id': delomraade.id }) }}">{{ delomraade.id }}</a></td>
                    <td>{{ delomraade.kpl1 }}</td>
                    <td>{{ delomraade.kpl2 }}</td>
                    <td>{{ delomraade.kpl3 }}</td>
                    <td>{{ delomraade.kpl4 }}</td>
                    <td>{{ delomraade.o1 }}</td>
                    <td>{{ delomraade.o2 }}</td>
                    <td>{{ delomraade.o3 }}</td>
                    <td>{{ delomraade.anvendelse }}</td>
                    <td>{{ delomraade.mulighedfor }}</td>
                    <td>{{ delomraade.createdby }}</td>
                    <td>{% if delomraade.createddate %}{{ delomraade.createddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ delomraade.modifiedby }}</td>
                    <td>{% if delomraade.modifieddate %}{{ delomraade.modifieddate|date('d/m Y') }}{% endif %}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('delomraade_edit', { 'id': delomraade.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col text-center">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
        </div>
    </div>
    {% endblock %}
