  {% extends 'AppBundle::base.html.twig' %}


  {% block body -%}

  <div class="row heading">
    <div class="col-md-9">
        <h1>{{ 'delomraade.labels.plural' | trans }}</h1>
    </div>
    <div class="col-md-3 text-right">
              <a class="btn btn-default" href="{{ path('delomraade_new') }}">
          {{ icon('plus') }} {{ 'delomraade.actions.add' | trans }}
        </a>
          </div>

  </div>


  <table class="table table-condensed table-header-rotated">
    <thead>
    <tr>
        {{ helper.header('appbundle.delomraade.kpl1') }}
        {{ helper.header('appbundle.delomraade.kpl2') }}
        {{ helper.header('appbundle.delomraade.kpl3') }}
        {{ helper.header('appbundle.delomraade.kpl4') }}
        {{ helper.header('appbundle.delomraade.o1') }}
        {{ helper.header('appbundle.delomraade.o2') }}
        {{ helper.header('appbundle.delomraade.o3') }}
        {{ helper.header('appbundle.delomraade.anvendelse') }}
        {{ helper.header('appbundle.delomraade.mulighedfor') }}
        {{ helper.header('appbundle.delomraade.createdby') }}
        {{ helper.header('appbundle.delomraade.createddate') }}
        {{ helper.header('appbundle.delomraade.modifiedby') }}
        {{ helper.header('appbundle.delomraade.modifieddate') }}
      {{ helper.header() }}
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
                  <td>{{ entity.kpl1 }}</td>
        
                  <td>{{ entity.kpl2 }}</td>
        
                  <td>{{ entity.kpl3 }}</td>
        
                  <td>{{ entity.kpl4 }}</td>
        
                  <td>{{ entity.o1 }}</td>
        
                  <td>{{ entity.o2 }}</td>
        
                  <td>{{ entity.o3 }}</td>
        
                  <td>{{ entity.anvendelse }}</td>
        
                  <td>{{ entity.mulighedfor }}</td>
        
                  <td>{{ entity.createdby }}</td>
        
                  <td>{{ entity.createddate | date("d/m Y") }}</td>
        
                  <td>{{ entity.modifiedby }}</td>
        
                  <td>{{ entity.modifieddate | date("d/m Y") }}</td>
        
      <td class="text-right">    <a class="btn btn-default btn-xs" href="{{ path('delomraade_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>

      </td>

    </tr>
    {% endfor %}
    </tbody>
  </table>

  {% endblock %}
