{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Delomraade</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ delomraade.id }}</td>
            </tr>
            <tr>
                <th>Kpl1</th>
                <td>{{ delomraade.kpl1 }}</td>
            </tr>
            <tr>
                <th>Kpl2</th>
                <td>{{ delomraade.kpl2 }}</td>
            </tr>
            <tr>
                <th>Kpl3</th>
                <td>{{ delomraade.kpl3 }}</td>
            </tr>
            <tr>
                <th>Kpl4</th>
                <td>{{ delomraade.kpl4 }}</td>
            </tr>
            <tr>
                <th>O1</th>
                <td>{{ delomraade.o1 }}</td>
            </tr>
            <tr>
                <th>O2</th>
                <td>{{ delomraade.o2 }}</td>
            </tr>
            <tr>
                <th>O3</th>
                <td>{{ delomraade.o3 }}</td>
            </tr>
            <tr>
                <th>Anvendelse</th>
                <td>{{ delomraade.anvendelse }}</td>
            </tr>
            <tr>
                <th>Mulighedfor</th>
                <td>{{ delomraade.mulighedfor }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ delomraade.createdby }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if delomraade.createddate %}{{ delomraade.createddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedby</th>
                <td>{{ delomraade.modifiedby }}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if delomraade.modifieddate %}{{ delomraade.modifieddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
