  {% extends 'AppBundle::base.html.twig' %}


{% block body -%}
  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ entity }}</h1>
    </div>
    <div class="col-md-3 text-right">    <a class="btn btn-default btn-default" href="{{ path('salgsomraade_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('chevron-right') }} {{ 'salgsomraade.labels.singular' | trans }}</div>
        <table class="table table-condensed">
          <tbody>
            <tr>
              <th>{{ 'appbundle.salgsomraade.createdby' | trans }}</th>
                <td>{{ entity.createdby }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.createddate' | trans }}</th>
                <td>{{ entity.createddate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.modifiedby' | trans }}</th>
                <td>{{ entity.modifiedby }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.modifieddate' | trans }}</th>
                <td>{{ entity.modifieddate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.nr' | trans }}</th>
                <td>{{ entity.nr }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.titel' | trans }}</th>
                <td>{{ entity.titel }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.type' | trans }}</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.matrikkel1' | trans }}</th>
                <td>{{ entity.matrikkel1 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.matrikkel2' | trans }}</th>
                <td>{{ entity.matrikkel2 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.ejerlav' | trans }}</th>
                <td>{{ entity.ejerlav }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.vej' | trans }}</th>
                <td>{{ entity.vej }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.gisurl' | trans }}</th>
                <td>{{ entity.gisurl }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.tilsluttet' | trans }}</th>
                <td>{{ entity.tilsluttet }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.sagsnr' | trans }}</th>
                <td>{{ entity.sagsnr }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.salgsomraade.lploebenummer' | trans }}</th>
                <td>{{ entity.lploebenummer }}</td>
            </tr>          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
