    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'keyword.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('keyword_new') }}">
                    {{ icon('plus') }} {{ 'keyword.actions.new' | trans }}
                </a>
                    </div>
        <div class="col-md-3 text-right">
            <h2><small>{% include 'AppBundle:_includes:pagination_count.html.twig' %}</small></h2>
        </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>                
                <th>{{ knp_pagination_sortable(pagination, 'keyword.id'|trans, 'id') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'keyword.title'|trans, 'title') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'keyword.alias'|trans, 'alias') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'keyword.description'|trans, 'description') }}</th>
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for keyword in pagination %}
        <tr>
                    <td><a href="{{ path('keyword_show', { 'id': keyword.id }) }}">{{ keyword.id }}</a></td>
                    <td>{{ keyword.title }}</td>
                    <td>{{ keyword.alias }}</td>
                    <td>{{ keyword.description }}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('keyword_edit', { 'id': keyword.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col text-center">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
        </div>
    </div>
    {% endblock %}
