    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'keyword.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('keyword_new') }}">
                    {{ icon('plus') }} {{ 'keyword.actions.add' | trans }}
                </a>
                    </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>
                {{ helper.header('keyword.id') }}
                {{ helper.header('keyword.title') }}
                {{ helper.header('keyword.alias') }}
                {{ helper.header('keyword.description') }}
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for keyword in keywords %}
        <tr>
                    <td><a href="{{ path('keyword_show', { 'id': keyword.id }) }}">{{ keyword.id }}</a></td>
                    <td>{{ keyword.title }}</td>
                    <td>{{ keyword.alias }}</td>
                    <td>{{ keyword.description }}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('keyword_edit', { 'id': keyword.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
