{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Opkoeb list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Matrik1</th>
                <th>Matrik2</th>
                <th>Ejerlav</th>
                <th>M2</th>
                <th>Bemaerkning</th>
                <th>Opkoebdato</th>
                <th>Pris</th>
                <th>Procentaflp</th>
                <th>Createdby</th>
                <th>Createddate</th>
                <th>Modifiedby</th>
                <th>Modifieddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opkoeb in opkoebs %}
            <tr>
                <td><a href="{{ path('opkoeb_show', { 'id': opkoeb.id }) }}">{{ opkoeb.id }}</a></td>
                <td>{{ opkoeb.matrik1 }}</td>
                <td>{{ opkoeb.matrik2 }}</td>
                <td>{{ opkoeb.ejerlav }}</td>
                <td>{{ opkoeb.m2 }}</td>
                <td>{{ opkoeb.bemaerkning }}</td>
                <td>{% if opkoeb.opkoebdato %}{{ opkoeb.opkoebdato|date('Y-m-d') }}{% endif %}</td>
                <td>{{ opkoeb.pris }}</td>
                <td>{{ opkoeb.procentaflp }}</td>
                <td>{{ opkoeb.createdby }}</td>
                <td>{% if opkoeb.createddate %}{{ opkoeb.createddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ opkoeb.modifiedby }}</td>
                <td>{% if opkoeb.modifieddate %}{{ opkoeb.modifieddate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('opkoeb_show', { 'id': opkoeb.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('opkoeb_edit', { 'id': opkoeb.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opkoeb_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
