{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Opkoeb</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opkoeb.id }}</td>
            </tr>
            <tr>
                <th>Matrik1</th>
                <td>{{ opkoeb.matrik1 }}</td>
            </tr>
            <tr>
                <th>Matrik2</th>
                <td>{{ opkoeb.matrik2 }}</td>
            </tr>
            <tr>
                <th>Ejerlav</th>
                <td>{{ opkoeb.ejerlav }}</td>
            </tr>
            <tr>
                <th>M2</th>
                <td>{{ opkoeb.m2 }}</td>
            </tr>
            <tr>
                <th>Bemaerkning</th>
                <td>{{ opkoeb.bemaerkning }}</td>
            </tr>
            <tr>
                <th>Opkoebdato</th>
                <td>{% if opkoeb.opkoebdato %}{{ opkoeb.opkoebdato|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Pris</th>
                <td>{{ opkoeb.pris }}</td>
            </tr>
            <tr>
                <th>Procentaflp</th>
                <td>{{ opkoeb.procentaflp }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ opkoeb.createdby }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if opkoeb.createddate %}{{ opkoeb.createddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedby</th>
                <td>{{ opkoeb.modifiedby }}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if opkoeb.modifieddate %}{{ opkoeb.modifieddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opkoeb_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('opkoeb_edit', { 'id': opkoeb.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
