    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'interessent.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('interessent_new') }}">
                    {{ icon('plus') }} {{ 'interessent.actions.new' | trans }}
                </a>
                    </div>
        <div class="col-md-3 text-right">
            <h2><small>{% include 'AppBundle:_includes:pagination_count.html.twig' %}</small></h2>
        </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.id'|trans, 'id') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.createdby'|trans, 'createdby') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.createddate'|trans, 'createddate') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.modifiedby'|trans, 'modifiedby') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.modifieddate'|trans, 'modifieddate') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.navn'|trans, 'navn') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.adresse'|trans, 'adresse') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.land'|trans, 'land') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.telefon'|trans, 'telefon') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.mobil'|trans, 'mobil') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.koeberemail'|trans, 'koeberemail') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.navn1'|trans, 'navn1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.adresse1'|trans, 'adresse1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.land1'|trans, 'land1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.telefon1'|trans, 'telefon1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.mobil1'|trans, 'mobil1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.medkoeberemail'|trans, 'medkoeberemail') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'interessent.notat'|trans, 'notat') }}</th>
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for interessent in pagination %}
        <tr>
                    <td><a href="{{ path('interessent_show', { 'id': interessent.id }) }}">{{ interessent.id }}</a></td>
                    <td>{{ interessent.createdby }}</td>
                    <td>{% if interessent.createddate %}{{ interessent.createddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ interessent.modifiedby }}</td>
                    <td>{% if interessent.modifieddate %}{{ interessent.modifieddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ interessent.navn }}</td>
                    <td>{{ interessent.adresse }}</td>
                    <td>{{ interessent.land }}</td>
                    <td>{{ interessent.telefon }}</td>
                    <td>{{ interessent.mobil }}</td>
                    <td>{{ interessent.koeberemail }}</td>
                    <td>{{ interessent.navn1 }}</td>
                    <td>{{ interessent.adresse1 }}</td>
                    <td>{{ interessent.land1 }}</td>
                    <td>{{ interessent.telefon1 }}</td>
                    <td>{{ interessent.mobil1 }}</td>
                    <td>{{ interessent.medkoeberemail }}</td>
                    <td>{{ interessent.notat }}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('interessent_edit', { 'id': interessent.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col text-center">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
        </div>
    </div>
    {% endblock %}
