{% extends 'AppBundle::base.html.twig' %}


{% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'interessent.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('interessent_new') }}">
                    {{ icon('plus') }} {{ 'interessent.actions.add' | trans }}
                </a>
                    </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
            <tr>
                    {{ helper.header('appbundle.interessent.createdby') }}
                    {{ helper.header('appbundle.interessent.createddate') }}
                    {{ helper.header('appbundle.interessent.modifiedby') }}
                    {{ helper.header('appbundle.interessent.modifieddate') }}
                    {{ helper.header('appbundle.interessent.navn') }}
                    {{ helper.header('appbundle.interessent.adresse') }}
                    {{ helper.header('appbundle.interessent.land') }}
                    {{ helper.header('appbundle.interessent.telefon') }}
                    {{ helper.header('appbundle.interessent.mobil') }}
                    {{ helper.header('appbundle.interessent.koeberemail') }}
                    {{ helper.header('appbundle.interessent.navn1') }}
                    {{ helper.header('appbundle.interessent.adresse1') }}
                    {{ helper.header('appbundle.interessent.land1') }}
                    {{ helper.header('appbundle.interessent.telefon1') }}
                    {{ helper.header('appbundle.interessent.mobil1') }}
                    {{ helper.header('appbundle.interessent.medkoeberemail') }}
                    {{ helper.header('appbundle.interessent.notat') }}
                {{ helper.header() }}
            </tr>
        </thead>
        <tbody>
        {% for interessent in interessents %}
            <tr>
                <td><a href="{{ path('interessent_show', { 'id': interessent.id }) }}">{{ interessent.id }}</a></td>
                <td>{{ interessent.createdby }}</td>
                <td>{% if interessent.createddate %}{{ interessent.createddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ interessent.modifiedby }}</td>
                <td>{% if interessent.modifieddate %}{{ interessent.modifieddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ interessent.navn }}</td>
                <td>{{ interessent.adresse }}</td>
                <td>{{ interessent.land }}</td>
                <td>{{ interessent.telefon }}</td>
                <td>{{ interessent.mobil }}</td>
                <td>{{ interessent.koeberemail }}</td>
                <td>{{ interessent.navn1 }}</td>
                <td>{{ interessent.adresse1 }}</td>
                <td>{{ interessent.land1 }}</td>
                <td>{{ interessent.telefon1 }}</td>
                <td>{{ interessent.mobil1 }}</td>
                <td>{{ interessent.medkoeberemail }}</td>
                <td>{{ interessent.notat }}</td>
                <td class="text-right">
                  <a class="btn btn-default btn-xs" href="{{ path('interessent_edit', { 'id': interessent.id }) }}">{{ 'common.edit' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('interessent_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
