{% extends 'base.html.twig' %}

{% block body %}
    <h1>Interessent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ interessent.id }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ interessent.createdby }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if interessent.createddate %}{{ interessent.createddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedby</th>
                <td>{{ interessent.modifiedby }}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if interessent.modifieddate %}{{ interessent.modifieddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Navn</th>
                <td>{{ interessent.navn }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ interessent.adresse }}</td>
            </tr>
            <tr>
                <th>Land</th>
                <td>{{ interessent.land }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ interessent.telefon }}</td>
            </tr>
            <tr>
                <th>Mobil</th>
                <td>{{ interessent.mobil }}</td>
            </tr>
            <tr>
                <th>Koeberemail</th>
                <td>{{ interessent.koeberemail }}</td>
            </tr>
            <tr>
                <th>Navn1</th>
                <td>{{ interessent.navn1 }}</td>
            </tr>
            <tr>
                <th>Adresse1</th>
                <td>{{ interessent.adresse1 }}</td>
            </tr>
            <tr>
                <th>Land1</th>
                <td>{{ interessent.land1 }}</td>
            </tr>
            <tr>
                <th>Telefon1</th>
                <td>{{ interessent.telefon1 }}</td>
            </tr>
            <tr>
                <th>Mobil1</th>
                <td>{{ interessent.mobil1 }}</td>
            </tr>
            <tr>
                <th>Medkoeberemail</th>
                <td>{{ interessent.medkoeberemail }}</td>
            </tr>
            <tr>
                <th>Notat</th>
                <td>{{ interessent.notat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_interessent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_interessent_edit', { 'id': interessent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
