{% extends 'AppBundle::base.html.twig' %}


{% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'grund.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('grund_new') }}">
                    {{ icon('plus') }} {{ 'grund.actions.add' | trans }}
                </a>
                    </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
            <tr>
                    {{ helper.header('appbundle.grund.createdby') }}
                    {{ helper.header('appbundle.grund.createddate') }}
                    {{ helper.header('appbundle.grund.modifiedby') }}
                    {{ helper.header('appbundle.grund.modifieddate') }}
                    {{ helper.header('appbundle.grund.status') }}
                    {{ helper.header('appbundle.grund.salgstatus') }}
                    {{ helper.header('appbundle.grund.gid') }}
                    {{ helper.header('appbundle.grund.grundtype') }}
                    {{ helper.header('appbundle.grund.mnr') }}
                    {{ helper.header('appbundle.grund.mnr2') }}
                    {{ helper.header('appbundle.grund.delareal') }}
                    {{ helper.header('appbundle.grund.ejerlav') }}
                    {{ helper.header('appbundle.grund.vej') }}
                    {{ helper.header('appbundle.grund.husnummer') }}
                    {{ helper.header('appbundle.grund.bogstav') }}
                    {{ helper.header('appbundle.grund.postbyid') }}
                    {{ helper.header('appbundle.grund.urlgis') }}
                    {{ helper.header('appbundle.grund.salgstype') }}
                    {{ helper.header('appbundle.grund.auktionstartdato') }}
                    {{ helper.header('appbundle.grund.auktionslutdato') }}
                    {{ helper.header('appbundle.grund.annonceresej') }}
                    {{ helper.header('appbundle.grund.datoannonce') }}
                    {{ helper.header('appbundle.grund.datoannonce1') }}
                    {{ helper.header('appbundle.grund.tilsluttet') }}
                    {{ helper.header('appbundle.grund.maxetagem2') }}
                    {{ helper.header('appbundle.grund.areal') }}
                    {{ helper.header('appbundle.grund.arealvej') }}
                    {{ helper.header('appbundle.grund.arealkotelet') }}
                    {{ helper.header('appbundle.grund.bruttoareal') }}
                    {{ helper.header('appbundle.grund.prism2') }}
                    {{ helper.header('appbundle.grund.prisfoerkorrektion') }}
                    {{ helper.header('appbundle.grund.priskorrektion1') }}
                    {{ helper.header('appbundle.grund.antalkorr1') }}
                    {{ helper.header('appbundle.grund.akrkorr1') }}
                    {{ helper.header('appbundle.grund.priskoor1') }}
                    {{ helper.header('appbundle.grund.priskorrektion2') }}
                    {{ helper.header('appbundle.grund.antalkorr2') }}
                    {{ helper.header('appbundle.grund.akrkorr2') }}
                    {{ helper.header('appbundle.grund.priskoor2') }}
                    {{ helper.header('appbundle.grund.priskorrektion3') }}
                    {{ helper.header('appbundle.grund.antalkorr3') }}
                    {{ helper.header('appbundle.grund.akrkorr3') }}
                    {{ helper.header('appbundle.grund.priskoor3') }}
                    {{ helper.header('appbundle.grund.pris') }}
                    {{ helper.header('appbundle.grund.fastpris') }}
                    {{ helper.header('appbundle.grund.minbud') }}
                    {{ helper.header('appbundle.grund.note') }}
                    {{ helper.header('appbundle.grund.landinspektoerid') }}
                    {{ helper.header('appbundle.grund.resstart') }}
                    {{ helper.header('appbundle.grund.tilbudstart') }}
                    {{ helper.header('appbundle.grund.accept') }}
                    {{ helper.header('appbundle.grund.skoederekv') }}
                    {{ helper.header('appbundle.grund.beloebanvist') }}
                    {{ helper.header('appbundle.grund.resslut') }}
                    {{ helper.header('appbundle.grund.tilbudslut') }}
                    {{ helper.header('appbundle.grund.overtagelse') }}
                    {{ helper.header('appbundle.grund.antagetbud') }}
                    {{ helper.header('appbundle.grund.salgsprisumoms') }}
                    {{ helper.header('appbundle.grund.navn') }}
                    {{ helper.header('appbundle.grund.adresse') }}
                    {{ helper.header('appbundle.grund.land') }}
                    {{ helper.header('appbundle.grund.telefon') }}
                    {{ helper.header('appbundle.grund.mobil') }}
                    {{ helper.header('appbundle.grund.koeberemail') }}
                    {{ helper.header('appbundle.grund.navn1') }}
                    {{ helper.header('appbundle.grund.adresse1') }}
                    {{ helper.header('appbundle.grund.land1') }}
                    {{ helper.header('appbundle.grund.telefon1') }}
                    {{ helper.header('appbundle.grund.mobil1') }}
                    {{ helper.header('appbundle.grund.medkoeberemail') }}
                    {{ helper.header('appbundle.grund.notat') }}
                {{ helper.header() }}
            </tr>
        </thead>
        <tbody>
        {% for grund in grunds %}
            <tr>
                <td><a href="{{ path('grund_show', { 'id': grund.id }) }}">{{ grund.id }}</a></td>
                <td>{{ grund.createdby }}</td>
                <td>{% if grund.createddate %}{{ grund.createddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ grund.modifiedby }}</td>
                <td>{% if grund.modifieddate %}{{ grund.modifieddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ grund.status }}</td>
                <td>{{ grund.salgstatus }}</td>
                <td>{{ grund.gid }}</td>
                <td>{{ grund.grundtype }}</td>
                <td>{{ grund.mnr }}</td>
                <td>{{ grund.mnr2 }}</td>
                <td>{{ grund.delareal }}</td>
                <td>{{ grund.ejerlav }}</td>
                <td>{{ grund.vej }}</td>
                <td>{{ grund.husnummer }}</td>
                <td>{{ grund.bogstav }}</td>
                <td>{{ grund.postbyid }}</td>
                <td>{{ grund.urlgis }}</td>
                <td>{{ grund.salgstype }}</td>
                <td>{% if grund.auktionstartdato %}{{ grund.auktionstartdato|date('Y-m-d') }}{% endif %}</td>
                <td>{% if grund.auktionslutdato %}{{ grund.auktionslutdato|date('Y-m-d') }}{% endif %}</td>
                <td>{{ grund.annonceresej }}</td>
                <td>{% if grund.datoannonce %}{{ grund.datoannonce|date('Y-m-d') }}{% endif %}</td>
                <td>{% if grund.datoannonce1 %}{{ grund.datoannonce1|date('Y-m-d') }}{% endif %}</td>
                <td>{{ grund.tilsluttet }}</td>
                <td>{{ grund.maxetagem2 }}</td>
                <td>{{ grund.areal }}</td>
                <td>{{ grund.arealvej }}</td>
                <td>{{ grund.arealkotelet }}</td>
                <td>{{ grund.bruttoareal }}</td>
                <td>{{ grund.prism2 }}</td>
                <td>{{ grund.prisfoerkorrektion }}</td>
                <td>{{ grund.priskorrektion1 }}</td>
                <td>{{ grund.antalkorr1 }}</td>
                <td>{{ grund.akrkorr1 }}</td>
                <td>{{ grund.priskoor1 }}</td>
                <td>{{ grund.priskorrektion2 }}</td>
                <td>{{ grund.antalkorr2 }}</td>
                <td>{{ grund.akrkorr2 }}</td>
                <td>{{ grund.priskoor2 }}</td>
                <td>{{ grund.priskorrektion3 }}</td>
                <td>{{ grund.antalkorr3 }}</td>
                <td>{{ grund.akrkorr3 }}</td>
                <td>{{ grund.priskoor3 }}</td>
                <td>{{ grund.pris }}</td>
                <td>{{ grund.fastpris }}</td>
                <td>{{ grund.minbud }}</td>
                <td>{{ grund.note }}</td>
                <td>{{ grund.landinspektoerid }}</td>
                <td>{% if grund.resstart %}{{ grund.resstart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if grund.tilbudstart %}{{ grund.tilbudstart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if grund.accept %}{{ grund.accept|date('Y-m-d') }}{% endif %}</td>
                <td>{% if grund.skoederekv %}{{ grund.skoederekv|date('Y-m-d') }}{% endif %}</td>
                <td>{% if grund.beloebanvist %}{{ grund.beloebanvist|date('Y-m-d') }}{% endif %}</td>
                <td>{% if grund.resslut %}{{ grund.resslut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if grund.tilbudslut %}{{ grund.tilbudslut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if grund.overtagelse %}{{ grund.overtagelse|date('Y-m-d') }}{% endif %}</td>
                <td>{{ grund.antagetbud }}</td>
                <td>{{ grund.salgsprisumoms }}</td>
                <td>{{ grund.navn }}</td>
                <td>{{ grund.adresse }}</td>
                <td>{{ grund.land }}</td>
                <td>{{ grund.telefon }}</td>
                <td>{{ grund.mobil }}</td>
                <td>{{ grund.koeberemail }}</td>
                <td>{{ grund.navn1 }}</td>
                <td>{{ grund.adresse1 }}</td>
                <td>{{ grund.land1 }}</td>
                <td>{{ grund.telefon1 }}</td>
                <td>{{ grund.mobil1 }}</td>
                <td>{{ grund.medkoeberemail }}</td>
                <td>{{ grund.notat }}</td>
                <td class="text-right">
                  <a class="btn btn-default btn-xs" href="{{ path('grund_edit', { 'id': grund.id }) }}">{{ 'common.edit' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grund_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
