{% extends 'AppBundle::base.html.twig' %}


{% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'lokalsamfund.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('lokalsamfund_new') }}">
                    {{ icon('plus') }} {{ 'lokalsamfund.actions.add' | trans }}
                </a>
                    </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
            <tr>
                    {{ helper.header('appbundle.lokalsamfund.number') }}
                    {{ helper.header('appbundle.lokalsamfund.name') }}
                    {{ helper.header('appbundle.lokalsamfund.createdby') }}
                    {{ helper.header('appbundle.lokalsamfund.createddate') }}
                    {{ helper.header('appbundle.lokalsamfund.modifiedby') }}
                    {{ helper.header('appbundle.lokalsamfund.modifieddate') }}
                    {{ helper.header('appbundle.lokalsamfund.active') }}
                {{ helper.header() }}
            </tr>
        </thead>
        <tbody>
        {% for lokalsamfund in lokalsamfunds %}
            <tr>
                <td><a href="{{ path('lokalsamfund_show', { 'id': lokalsamfund.id }) }}">{{ lokalsamfund.id }}</a></td>
                <td>{{ lokalsamfund.number }}</td>
                <td>{{ lokalsamfund.name }}</td>
                <td>{{ lokalsamfund.createdby }}</td>
                <td>{% if lokalsamfund.createddate %}{{ lokalsamfund.createddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ lokalsamfund.modifiedby }}</td>
                <td>{% if lokalsamfund.modifieddate %}{{ lokalsamfund.modifieddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ lokalsamfund.active }}</td>
                <td class="text-right">
                  <a class="btn btn-default btn-xs" href="{{ path('lokalsamfund_edit', { 'id': lokalsamfund.id }) }}">{{ 'common.edit' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lokalsamfund_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
