    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'lokalsamfund.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('lokalsamfund_new') }}">
                    {{ icon('plus') }} {{ 'lokalsamfund.actions.new' | trans }}
                </a>
                    </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>
                {{ helper.header('lokalsamfund.id') }}
                {{ helper.header('lokalsamfund.number') }}
                {{ helper.header('lokalsamfund.name') }}
                {{ helper.header('lokalsamfund.createdby') }}
                {{ helper.header('lokalsamfund.createddate') }}
                {{ helper.header('lokalsamfund.modifiedby') }}
                {{ helper.header('lokalsamfund.modifieddate') }}
                {{ helper.header('lokalsamfund.active') }}
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for lokalsamfund in lokalsamfunds %}
        <tr>
                    <td><a href="{{ path('lokalsamfund_show', { 'id': lokalsamfund.id }) }}">{{ lokalsamfund.id }}</a></td>
                    <td>{{ lokalsamfund.number }}</td>
                    <td>{{ lokalsamfund.name }}</td>
                    <td>{{ lokalsamfund.createdby }}</td>
                    <td>{% if lokalsamfund.createddate %}{{ lokalsamfund.createddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ lokalsamfund.modifiedby }}</td>
                    <td>{% if lokalsamfund.modifieddate %}{{ lokalsamfund.modifieddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ lokalsamfund.active }}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('lokalsamfund_edit', { 'id': lokalsamfund.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
