    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'lokalsamfund.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('lokalsamfund_new') }}">
                    {{ icon('plus') }} {{ 'lokalsamfund.actions.new' | trans }}
                </a>
                    </div>
        <div class="col-md-3 text-right">
            <h2><small>{% include 'AppBundle:_includes:pagination_count.html.twig' %}</small></h2>
        </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>                
                <th>{{ knp_pagination_sortable(pagination, 'lokalsamfund.id'|trans, 'id') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'lokalsamfund.number'|trans, 'number') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'lokalsamfund.name'|trans, 'name') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'lokalsamfund.createdby'|trans, 'createdby') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'lokalsamfund.createddate'|trans, 'createddate') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'lokalsamfund.modifiedby'|trans, 'modifiedby') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'lokalsamfund.modifieddate'|trans, 'modifieddate') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'lokalsamfund.active'|trans, 'active') }}</th>
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for lokalsamfund in pagination %}
        <tr>
                    <td><a href="{{ path('lokalsamfund_show', { 'id': lokalsamfund.id }) }}">{{ lokalsamfund.id }}</a></td>
                    <td>{{ lokalsamfund.number }}</td>
                    <td>{{ lokalsamfund.name }}</td>
                    <td>{{ lokalsamfund.createdby }}</td>
                    <td>{% if lokalsamfund.createddate %}{{ lokalsamfund.createddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ lokalsamfund.modifiedby }}</td>
                    <td>{% if lokalsamfund.modifieddate %}{{ lokalsamfund.modifieddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ lokalsamfund.active }}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('lokalsamfund_edit', { 'id': lokalsamfund.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col text-center">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
        </div>
    </div>
    {% endblock %}
