{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'keywordvalue.actions.edit' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="{{ 'common.delete' | trans }}">
                {{ form_end(delete_form) }}        </div>
    </div>

    {% form_theme edit_form "AppBundle::Form/twocol-form.html.twig"  %}
    {{ form_start(edit_form) }}        
    {{ form_row(edit_form.display)}}        
    {{ form_row(edit_form.value)}}
    {{ form_end(edit_form) }}


    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'common.edit' | trans }}" />
    </div>


{% endblock %}
