{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Keywordvalue</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ keywordvalue.id }}</td>
            </tr>
            <tr>
                <th>Display</th>
                <td>{{ keywordvalue.display }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ keywordvalue.value }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('keywordvalue_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('keywordvalue_edit', { 'id': keywordvalue.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
