{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="row heading">
        <div class="col-md-9">
            <h1>Keywordvalue</h1>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-default" href="{{ path('keywordvalue_edit', { 'id': keywordvalue.id }) }}">{{ 'common.edit' | trans }}</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ icon('chevron-right') }} {{ 'keywordvalue.labels.singular' | trans }}</div>
                <table class="table table-condensed">
                    <tbody>
                            <tr>
                                <th>{{ 'keywordvalue.id' | trans }}</th>
                                <td>{{ keywordvalue.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'keywordvalue.display' | trans }}</th>
                                <td>{{ keywordvalue.display }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'keywordvalue.value' | trans }}</th>
                                <td>{{ keywordvalue.value }}</td>
                            </tr>                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
