    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'postby.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('postby_new') }}">
                    {{ icon('plus') }} {{ 'postby.actions.new' | trans }}
                </a>
                    </div>
        <div class="col-md-3 text-right">
            <h2><small>{% include 'AppBundle:_includes:pagination_count.html.twig' %}</small></h2>
        </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'postby.id'|trans, 'id') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'postby.postalcode'|trans, 'postalcode') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'postby.city'|trans, 'city') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'postby.createdby'|trans, 'createdby') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'postby.createddate'|trans, 'createddate') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'postby.modifiedby'|trans, 'modifiedby') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'postby.modifieddate'|trans, 'modifieddate') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'postby.createdBy'|trans, 'createdBy') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'postby.updatedBy'|trans, 'updatedBy') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'postby.createdAt'|trans, 'createdAt') }}</span></div></th>                
                <th class="rotate"><div><span>{{ knp_pagination_sortable(pagination, 'postby.updatedAt'|trans, 'updatedAt') }}</span></div></th>
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for postby in pagination %}
        <tr>
                    <td><a href="{{ path('postby_show', { 'id': postby.id }) }}">{{ postby.id }}</a></td>
                    <td>{{ postby.postalcode }}</td>
                    <td>{{ postby.city }}</td>
                    <td>{{ postby.createdby }}</td>
                    <td>{% if postby.createddate %}{{ postby.createddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ postby.modifiedby }}</td>
                    <td>{% if postby.modifieddate %}{{ postby.modifieddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ postby.createdBy }}</td>
                    <td>{{ postby.updatedBy }}</td>
                    <td>{% if postby.createdAt %}{{ postby.createdAt|date('d/m Y H:i:s') }}{% endif %}</td>
                    <td>{% if postby.updatedAt %}{{ postby.updatedAt|date('d/m Y H:i:s') }}{% endif %}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('postby_edit', { 'id': postby.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col text-center">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
        </div>
    </div>
    {% endblock %}
