{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="row heading">
        <div class="col-md-9">
            <h1>Postby</h1>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-default" href="{{ path('postby_edit', { 'id': postby.id }) }}">{{ 'common.edit' | trans }}</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ icon('chevron-right') }} {{ 'postby.labels.singular' | trans }}</div>
                <table class="table table-condensed">
                    <tbody>
                            <tr>
                                <th>{{ 'postby.id' | trans }}</th>
                                <td>{{ postby.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'postby.postalcode' | trans }}</th>
                                <td>{{ postby.postalcode }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'postby.city' | trans }}</th>
                                <td>{{ postby.city }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'postby.createdby' | trans }}</th>
                                <td>{{ postby.createdby }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'postby.createddate' | trans }}</th>
                                <td>{% if postby.createddate %}{{ postby.createddate|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'postby.modifiedby' | trans }}</th>
                                <td>{{ postby.modifiedby }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'postby.modifieddate' | trans }}</th>
                                <td>{% if postby.modifieddate %}{{ postby.modifieddate|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'postby.createdBy' | trans }}</th>
                                <td>{{ postby.createdBy }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'postby.updatedBy' | trans }}</th>
                                <td>{{ postby.updatedBy }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'postby.createdAt' | trans }}</th>
                                <td>{% if postby.createdAt %}{{ postby.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'postby.updatedAt' | trans }}</th>
                                <td>{% if postby.updatedAt %}{{ postby.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
