{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Postby</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ postby.id }}</td>
            </tr>
            <tr>
                <th>Postalcode</th>
                <td>{{ postby.postalcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ postby.city }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ postby.createdby }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if postby.createddate %}{{ postby.createddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedby</th>
                <td>{{ postby.modifiedby }}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if postby.modifieddate %}{{ postby.modifieddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
