{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Salgshistorik list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdby</th>
                <th>Createddate</th>
                <th>Modifiedby</th>
                <th>Modifieddate</th>
                <th>Aarsag</th>
                <th>Salgstype</th>
                <th>Status</th>
                <th>Resstart</th>
                <th>Resslut</th>
                <th>Tilbudstart</th>
                <th>Tilbudslut</th>
                <th>Accept</th>
                <th>Overtagelse</th>
                <th>Skoederekv</th>
                <th>Beloebanvist</th>
                <th>Auktionstartdato</th>
                <th>Auktionslutdato</th>
                <th>Minbud</th>
                <th>Antagetbud</th>
                <th>Navn</th>
                <th>Adresse</th>
                <th>Land</th>
                <th>Telefon</th>
                <th>Mobil</th>
                <th>Koeberemail</th>
                <th>Navn1</th>
                <th>Adresse1</th>
                <th>Land1</th>
                <th>Telefon1</th>
                <th>Mobil1</th>
                <th>Medkoeberemail</th>
                <th>Notat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salgshistorik in salgshistoriks %}
            <tr>
                <td><a href="{{ path('salgshistorik_show', { 'id': salgshistorik.id }) }}">{{ salgshistorik.id }}</a></td>
                <td>{{ salgshistorik.createdby }}</td>
                <td>{% if salgshistorik.createddate %}{{ salgshistorik.createddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ salgshistorik.modifiedby }}</td>
                <td>{% if salgshistorik.modifieddate %}{{ salgshistorik.modifieddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ salgshistorik.aarsag }}</td>
                <td>{{ salgshistorik.salgstype }}</td>
                <td>{{ salgshistorik.status }}</td>
                <td>{% if salgshistorik.resstart %}{{ salgshistorik.resstart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if salgshistorik.resslut %}{{ salgshistorik.resslut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if salgshistorik.tilbudstart %}{{ salgshistorik.tilbudstart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if salgshistorik.tilbudslut %}{{ salgshistorik.tilbudslut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if salgshistorik.accept %}{{ salgshistorik.accept|date('Y-m-d') }}{% endif %}</td>
                <td>{% if salgshistorik.overtagelse %}{{ salgshistorik.overtagelse|date('Y-m-d') }}{% endif %}</td>
                <td>{% if salgshistorik.skoederekv %}{{ salgshistorik.skoederekv|date('Y-m-d') }}{% endif %}</td>
                <td>{% if salgshistorik.beloebanvist %}{{ salgshistorik.beloebanvist|date('Y-m-d') }}{% endif %}</td>
                <td>{% if salgshistorik.auktionstartdato %}{{ salgshistorik.auktionstartdato|date('Y-m-d') }}{% endif %}</td>
                <td>{% if salgshistorik.auktionslutdato %}{{ salgshistorik.auktionslutdato|date('Y-m-d') }}{% endif %}</td>
                <td>{{ salgshistorik.minbud }}</td>
                <td>{{ salgshistorik.antagetbud }}</td>
                <td>{{ salgshistorik.navn }}</td>
                <td>{{ salgshistorik.adresse }}</td>
                <td>{{ salgshistorik.land }}</td>
                <td>{{ salgshistorik.telefon }}</td>
                <td>{{ salgshistorik.mobil }}</td>
                <td>{{ salgshistorik.koeberemail }}</td>
                <td>{{ salgshistorik.navn1 }}</td>
                <td>{{ salgshistorik.adresse1 }}</td>
                <td>{{ salgshistorik.land1 }}</td>
                <td>{{ salgshistorik.telefon1 }}</td>
                <td>{{ salgshistorik.mobil1 }}</td>
                <td>{{ salgshistorik.medkoeberemail }}</td>
                <td>{{ salgshistorik.notat }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('salgshistorik_show', { 'id': salgshistorik.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('salgshistorik_edit', { 'id': salgshistorik.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salgshistorik_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
