    {% extends 'AppBundle::base.html.twig' %}


    {% block body %}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'salgshistorik.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
                            <a class="btn btn-default" href="{{ path('salgshistorik_new') }}">
                    {{ icon('plus') }} {{ 'salgshistorik.actions.new' | trans }}
                </a>
                    </div>
        <div class="col-md-3 text-right">
            <h2><small>{% include 'AppBundle:_includes:pagination_count.html.twig' %}</small></h2>
        </div>

    </div>

    <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.id'|trans, 'id') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.createdby'|trans, 'createdby') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.createddate'|trans, 'createddate') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.modifiedby'|trans, 'modifiedby') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.modifieddate'|trans, 'modifieddate') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.aarsag'|trans, 'aarsag') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.salgstype'|trans, 'salgstype') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.status'|trans, 'status') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.resstart'|trans, 'resstart') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.resslut'|trans, 'resslut') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.tilbudstart'|trans, 'tilbudstart') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.tilbudslut'|trans, 'tilbudslut') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.accept'|trans, 'accept') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.overtagelse'|trans, 'overtagelse') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.skoederekv'|trans, 'skoederekv') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.beloebanvist'|trans, 'beloebanvist') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.auktionstartdato'|trans, 'auktionstartdato') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.auktionslutdato'|trans, 'auktionslutdato') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.minbud'|trans, 'minbud') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.antagetbud'|trans, 'antagetbud') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.navn'|trans, 'navn') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.adresse'|trans, 'adresse') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.land'|trans, 'land') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.telefon'|trans, 'telefon') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.mobil'|trans, 'mobil') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.koeberemail'|trans, 'koeberemail') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.navn1'|trans, 'navn1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.adresse1'|trans, 'adresse1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.land1'|trans, 'land1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.telefon1'|trans, 'telefon1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.mobil1'|trans, 'mobil1') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.medkoeberemail'|trans, 'medkoeberemail') }}</th>                
                <th>{{ knp_pagination_sortable(pagination, 'salgshistorik.notat'|trans, 'notat') }}</th>
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>
        {% for salgshistorik in pagination %}
        <tr>
                    <td><a href="{{ path('salgshistorik_show', { 'id': salgshistorik.id }) }}">{{ salgshistorik.id }}</a></td>
                    <td>{{ salgshistorik.createdby }}</td>
                    <td>{% if salgshistorik.createddate %}{{ salgshistorik.createddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ salgshistorik.modifiedby }}</td>
                    <td>{% if salgshistorik.modifieddate %}{{ salgshistorik.modifieddate|date('d/m Y') }}{% endif %}</td>
                    <td>{{ salgshistorik.aarsag }}</td>
                    <td>{{ salgshistorik.salgstype }}</td>
                    <td>{{ salgshistorik.status }}</td>
                    <td>{% if salgshistorik.resstart %}{{ salgshistorik.resstart|date('d/m Y') }}{% endif %}</td>
                    <td>{% if salgshistorik.resslut %}{{ salgshistorik.resslut|date('d/m Y') }}{% endif %}</td>
                    <td>{% if salgshistorik.tilbudstart %}{{ salgshistorik.tilbudstart|date('d/m Y') }}{% endif %}</td>
                    <td>{% if salgshistorik.tilbudslut %}{{ salgshistorik.tilbudslut|date('d/m Y') }}{% endif %}</td>
                    <td>{% if salgshistorik.accept %}{{ salgshistorik.accept|date('d/m Y') }}{% endif %}</td>
                    <td>{% if salgshistorik.overtagelse %}{{ salgshistorik.overtagelse|date('d/m Y') }}{% endif %}</td>
                    <td>{% if salgshistorik.skoederekv %}{{ salgshistorik.skoederekv|date('d/m Y') }}{% endif %}</td>
                    <td>{% if salgshistorik.beloebanvist %}{{ salgshistorik.beloebanvist|date('d/m Y') }}{% endif %}</td>
                    <td>{% if salgshistorik.auktionstartdato %}{{ salgshistorik.auktionstartdato|date('d/m Y') }}{% endif %}</td>
                    <td>{% if salgshistorik.auktionslutdato %}{{ salgshistorik.auktionslutdato|date('d/m Y') }}{% endif %}</td>
                    <td>{{ salgshistorik.minbud }}</td>
                    <td>{{ salgshistorik.antagetbud }}</td>
                    <td>{{ salgshistorik.navn }}</td>
                    <td>{{ salgshistorik.adresse }}</td>
                    <td>{{ salgshistorik.land }}</td>
                    <td>{{ salgshistorik.telefon }}</td>
                    <td>{{ salgshistorik.mobil }}</td>
                    <td>{{ salgshistorik.koeberemail }}</td>
                    <td>{{ salgshistorik.navn1 }}</td>
                    <td>{{ salgshistorik.adresse1 }}</td>
                    <td>{{ salgshistorik.land1 }}</td>
                    <td>{{ salgshistorik.telefon1 }}</td>
                    <td>{{ salgshistorik.mobil1 }}</td>
                    <td>{{ salgshistorik.medkoeberemail }}</td>
                    <td>{{ salgshistorik.notat }}</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('salgshistorik_edit', { 'id': salgshistorik.id }) }}">{{ 'common.edit' | trans }}</a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col text-center">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
        </div>
    </div>
    {% endblock %}
