{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="row heading">
        <div class="col-md-9">
            <h1>Salgshistorik</h1>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-default" href="{{ path('salgshistorik_edit', { 'id': salgshistorik.id }) }}">{{ 'common.edit' | trans }}</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ icon('chevron-right') }} {{ 'salgshistorik.labels.singular' | trans }}</div>
                <table class="table table-condensed">
                    <tbody>
                            <tr>
                                <th>{{ 'salgshistorik.id' | trans }}</th>
                                <td>{{ salgshistorik.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.createdby' | trans }}</th>
                                <td>{{ salgshistorik.createdby }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.createddate' | trans }}</th>
                                <td>{% if salgshistorik.createddate %}{{ salgshistorik.createddate|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.modifiedby' | trans }}</th>
                                <td>{{ salgshistorik.modifiedby }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.modifieddate' | trans }}</th>
                                <td>{% if salgshistorik.modifieddate %}{{ salgshistorik.modifieddate|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.aarsag' | trans }}</th>
                                <td>{{ salgshistorik.aarsag }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.salgstype' | trans }}</th>
                                <td>{{ salgshistorik.salgstype }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.status' | trans }}</th>
                                <td>{{ salgshistorik.status }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.resstart' | trans }}</th>
                                <td>{% if salgshistorik.resstart %}{{ salgshistorik.resstart|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.resslut' | trans }}</th>
                                <td>{% if salgshistorik.resslut %}{{ salgshistorik.resslut|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.tilbudstart' | trans }}</th>
                                <td>{% if salgshistorik.tilbudstart %}{{ salgshistorik.tilbudstart|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.tilbudslut' | trans }}</th>
                                <td>{% if salgshistorik.tilbudslut %}{{ salgshistorik.tilbudslut|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.accept' | trans }}</th>
                                <td>{% if salgshistorik.accept %}{{ salgshistorik.accept|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.overtagelse' | trans }}</th>
                                <td>{% if salgshistorik.overtagelse %}{{ salgshistorik.overtagelse|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.skoederekv' | trans }}</th>
                                <td>{% if salgshistorik.skoederekv %}{{ salgshistorik.skoederekv|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.beloebanvist' | trans }}</th>
                                <td>{% if salgshistorik.beloebanvist %}{{ salgshistorik.beloebanvist|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.auktionstartdato' | trans }}</th>
                                <td>{% if salgshistorik.auktionstartdato %}{{ salgshistorik.auktionstartdato|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.auktionslutdato' | trans }}</th>
                                <td>{% if salgshistorik.auktionslutdato %}{{ salgshistorik.auktionslutdato|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.minbud' | trans }}</th>
                                <td>{{ salgshistorik.minbud }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.antagetbud' | trans }}</th>
                                <td>{{ salgshistorik.antagetbud }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.navn' | trans }}</th>
                                <td>{{ salgshistorik.navn }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.adresse' | trans }}</th>
                                <td>{{ salgshistorik.adresse }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.land' | trans }}</th>
                                <td>{{ salgshistorik.land }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.telefon' | trans }}</th>
                                <td>{{ salgshistorik.telefon }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.mobil' | trans }}</th>
                                <td>{{ salgshistorik.mobil }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.koeberemail' | trans }}</th>
                                <td>{{ salgshistorik.koeberemail }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.navn1' | trans }}</th>
                                <td>{{ salgshistorik.navn1 }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.adresse1' | trans }}</th>
                                <td>{{ salgshistorik.adresse1 }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.land1' | trans }}</th>
                                <td>{{ salgshistorik.land1 }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.telefon1' | trans }}</th>
                                <td>{{ salgshistorik.telefon1 }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.mobil1' | trans }}</th>
                                <td>{{ salgshistorik.mobil1 }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.medkoeberemail' | trans }}</th>
                                <td>{{ salgshistorik.medkoeberemail }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.notat' | trans }}</th>
                                <td>{{ salgshistorik.notat }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.createdBy' | trans }}</th>
                                <td>{{ salgshistorik.createdBy }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.updatedBy' | trans }}</th>
                                <td>{{ salgshistorik.updatedBy }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.createdAt' | trans }}</th>
                                <td>{% if salgshistorik.createdAt %}{{ salgshistorik.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'salgshistorik.updatedAt' | trans }}</th>
                                <td>{% if salgshistorik.updatedAt %}{{ salgshistorik.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
