{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Salgshistorik</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salgshistorik.id }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ salgshistorik.createdby }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if salgshistorik.createddate %}{{ salgshistorik.createddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedby</th>
                <td>{{ salgshistorik.modifiedby }}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if salgshistorik.modifieddate %}{{ salgshistorik.modifieddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Aarsag</th>
                <td>{{ salgshistorik.aarsag }}</td>
            </tr>
            <tr>
                <th>Salgstype</th>
                <td>{{ salgshistorik.salgstype }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ salgshistorik.status }}</td>
            </tr>
            <tr>
                <th>Resstart</th>
                <td>{% if salgshistorik.resstart %}{{ salgshistorik.resstart|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Resslut</th>
                <td>{% if salgshistorik.resslut %}{{ salgshistorik.resslut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tilbudstart</th>
                <td>{% if salgshistorik.tilbudstart %}{{ salgshistorik.tilbudstart|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tilbudslut</th>
                <td>{% if salgshistorik.tilbudslut %}{{ salgshistorik.tilbudslut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Accept</th>
                <td>{% if salgshistorik.accept %}{{ salgshistorik.accept|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Overtagelse</th>
                <td>{% if salgshistorik.overtagelse %}{{ salgshistorik.overtagelse|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Skoederekv</th>
                <td>{% if salgshistorik.skoederekv %}{{ salgshistorik.skoederekv|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Beloebanvist</th>
                <td>{% if salgshistorik.beloebanvist %}{{ salgshistorik.beloebanvist|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Auktionstartdato</th>
                <td>{% if salgshistorik.auktionstartdato %}{{ salgshistorik.auktionstartdato|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Auktionslutdato</th>
                <td>{% if salgshistorik.auktionslutdato %}{{ salgshistorik.auktionslutdato|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Minbud</th>
                <td>{{ salgshistorik.minbud }}</td>
            </tr>
            <tr>
                <th>Antagetbud</th>
                <td>{{ salgshistorik.antagetbud }}</td>
            </tr>
            <tr>
                <th>Navn</th>
                <td>{{ salgshistorik.navn }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ salgshistorik.adresse }}</td>
            </tr>
            <tr>
                <th>Land</th>
                <td>{{ salgshistorik.land }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ salgshistorik.telefon }}</td>
            </tr>
            <tr>
                <th>Mobil</th>
                <td>{{ salgshistorik.mobil }}</td>
            </tr>
            <tr>
                <th>Koeberemail</th>
                <td>{{ salgshistorik.koeberemail }}</td>
            </tr>
            <tr>
                <th>Navn1</th>
                <td>{{ salgshistorik.navn1 }}</td>
            </tr>
            <tr>
                <th>Adresse1</th>
                <td>{{ salgshistorik.adresse1 }}</td>
            </tr>
            <tr>
                <th>Land1</th>
                <td>{{ salgshistorik.land1 }}</td>
            </tr>
            <tr>
                <th>Telefon1</th>
                <td>{{ salgshistorik.telefon1 }}</td>
            </tr>
            <tr>
                <th>Mobil1</th>
                <td>{{ salgshistorik.mobil1 }}</td>
            </tr>
            <tr>
                <th>Medkoeberemail</th>
                <td>{{ salgshistorik.medkoeberemail }}</td>
            </tr>
            <tr>
                <th>Notat</th>
                <td>{{ salgshistorik.notat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salgshistorik_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('salgshistorik_edit', { 'id': salgshistorik.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
