{% macro entity_value(label, field = null) %}
  <div class="form-group field-entity">
    <label class="col-sm-2 control-label">{{ label | trans }}</label>
    <div class="col-sm-10">
      <span class="form-control">
        {% if field is same as(true) %}
          <span class="label label-success">Ja</span>
        {% elseif field is same as(false) %}
          <span class="label label-danger">Nej</span>
        {% elseif field.date is defined %}
          {{ field | date }}
        {% elseif field is iterable %}
          {{ field | join(', ') }}
        {% else %}
          {{ field }}
        {% endif %}
      </span>
    </div>
  </div>
{% endmacro %}

{% macro entity_row(label, field = null) %}
  <div class="form-group field-entity">
    <label class="col-sm-2 control-label">{{ label | trans }}</label>
    <div class="col-sm-10">
      <div class="form-control">
        {% if field is same as(true) %}
          <span class="label label-success">Ja</span>
        {% elseif field is same as(false) %}
          <span class="label label-danger">Nej</span>
        {% elseif field.date is defined %}
          {{ field | date }}
        {% elseif field is iterable %}
          {{ field | join(', ') }}
        {% else %}
          {{ field }}
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro custom_label(field) %}
  {% set label_attr = field.vars.label_attr %}
  {% set translation_domain = field.vars.translation_domain %}
  {% set label = field.vars.easyadmin.field.label %}
  <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
{% endmacro %}

{% import _self as grundsalg %}

  {{ form_start(form) }}

  {# We are bypassing some Easyadmin init functions so we need to set some variables manually #}
  {% set easyadmin = {'entity': _entity_config, 'view': 'edit', 'item': entity } %}
  {% set easyadmin_form_groups = form.vars['easyadmin_form_groups'] %}

  {# Begin default widget #}
  {% set _translation_domain = easyadmin.entity.translation_domain %}
  {% set _trans_parameters = { '%entity_name%':  easyadmin.entity.name|trans, '%entity_label%': easyadmin.entity.label|trans } %}

  {% if form.vars.errors|length > 0 %}
    {{ form_errors(form) }}
  {% endif %}

<input type="hidden" name="referer" value="{{ app.request.query.get('referer', '') }}"/>

<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">{{ 'app.grund.oplysninger' | trans }}</a></li>
    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">{{ 'app.grund.lokalplan' | trans }}</a></li>
    <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">{{ 'app.grund.landinspektoer' | trans }}</a></li>
    <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">{{ 'app.grund.salg' | trans }}</a></li>
    <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="false">{{ 'app.grund.venteliste' | trans }} ({{ entity.reservationer | length }})</a></li>
    <li class=""><a href="#tab_6" data-toggle="tab" aria-expanded="false">{{ 'app.grund.historiskeSalg' | trans }} ({{ entity.salgshistorik | length }})</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_1">

      <div class="row">

        <div class="field-group col-xs-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'app.salgsomraade.salgsomraade' | trans }}</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  {{ form_row(form.salgsomraade) }}
                </div>
                <div class="col-md-6">
                  {% if entity.salgsomraade %}
                    {{ grundsalg.entity_value('app.salgsomraade.annonceres', entity.salgsomraade.annonceres ) }}
                  {% else %}
                    {{ grundsalg.entity_value('app.salgsomraade.annonceres' ) }}
                  {% endif %}
                </div>
                <div class="col-md-6">
                  {% if entity.salgsomraade %}
                    {{ grundsalg.entity_value('app.salgsomraade.titel', entity.salgsomraade.titel ) }}
                  {% else %}
                    {{ grundsalg.entity_value('app.salgsomraade.titel' ) }}
                  {% endif %}
                </div>
                <div class="col-md-6">
                  {% if entity.salgsomraade %}
                    {{ grundsalg.entity_value('app.grund.psp', entity.salgsomraade.sagsnr ) }}
                  {% else %}
                    {{ grundsalg.entity_value('app.grund.psp' ) }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field-group col-xs-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'app.grund.grund' | trans }}</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  {{ grundsalg.entity_value('app.grund.gid', entity.gid ) }}
                  {{ form_row(form.type) }}

                  <div class="form-group field-text">
                    {{ form_label(form.mnr) }}
                    <div class="col-sm-5">{{ form_widget(form.mnr) }}</div>
                    <div class="col-sm-5">{{ form_widget(form.mnr2) }}</div>
                  </div>

                  {{ form_row(form.delareal) }}
                  {{ form_row(form.ejerlav) }}
                  {{ form_row(form.vej) }}

                  <div class="form-group field-text">
                    {{ form_label(form.husnummer) }}
                    <div class="col-sm-3">{{ form_widget(form.husnummer) }}</div>
                    {{ form_label(form.bogstav) }}
                    <div class="col-sm-5">{{ form_widget(form.bogstav) }}</div>
                  </div>

                  {{ form_row(form.postby) }}
                  {{ form_row(form.lokalsamfund) }}
                  <div class="form-group field-text">
                    {{ form_label(form.urlgis) }}
                    <div class="col-sm-10">{{ form_widget(form.urlgis) }}</div>
                  </div>
                  <div class="form-group field-text">
                    <div class="col-sm-10 col-md-offset-2"><a href="{{ entity.urlgis }}" target="_blank" class="btn btn-default"><i class="fa fa-external-link-square"></i> {{ 'action.show' | trans }}</a></div>
                  </div>
                </div>
                <div class="col-md-6">
                  {{ grundsalg.entity_value('app.grund.salgstatus', entity.visStatus ) }}
                  <div class="js-status">{{ form_row(form.status) }}</div>
                  {{ form_row(form.salgstype) }}

                  <div class="field-section ">
                    <h2>
                      {{ 'app.grund.annonceres' | trans }}
                    </h2>
                  </div>
                  {{ form_row(form.annonceres) }}
                  <div class="js-datoAnnonce">
                  {{ form_row(form.datoAnnonce) }}
                  {{ form_row(form.datoAnnonce1) }}
                  </div>

                  <div class="js-auktion">
                    <div class="field-section ">
                      <h2>
                        {{ 'app.grund.auktion' | trans }}
                      </h2>
                    </div>
                    {{ form_row(form.auktionstartdato) }}
                    {{ form_row(form.auktionslutdato) }}
                  </div>

                  <div class="field-section ">
                    <h2>
                      {{ 'app.grund.tilsluttet_header' | trans }}
                    </h2>
                  </div>

                  {{ form_row(form.tilsluttet) }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field-group col-xs-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'app.grund.priser' | trans }}</h3>
            </div>
            <div class="box-body">
              <div class="row js-maxetagem2">
                <div class="col-xs-12">
                  <div class="col-xs-3">
                    <div class="form-group field-text">
                      {{ grundsalg.custom_label( form.maxetagem2 ) }}
                      {{ form_widget(form.maxetagem2) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <table class="table form-collection js-price-table">
                    <thead>
                    <tr>
                      <th>{{ grundsalg.custom_label( form.areal ) }}</th>
                      <th>{{ grundsalg.custom_label( form.arealvej ) }}</th>
                      <th>{{ grundsalg.custom_label( form.arealkotelet ) }}</th>
                      <th>{{ grundsalg.custom_label( form.bruttoareal ) }}</th>
                      <th>{{ grundsalg.custom_label( form.prism2 ) }}</th>
                      <th>
                        <span class="js-pris">{{ grundsalg.custom_label( form.pris ) }}</span>
                        <span class="js-fastpris">{{ grundsalg.custom_label( form.fastpris ) }}</span>
                        <span class="js-minbud">{{ grundsalg.custom_label( form.minbud ) }}</span>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="number js-pris-calc">{{ form_widget(form.areal) }}</td>
                      <td class="number js-pris-calc">{{ form_widget(form.arealvej) }}</td>
                      <td class="number js-pris-calc">{{ form_widget(form.arealkotelet) }}</td>
                      <td class="number js-readonly">{{ form_widget(form.bruttoareal) }}</td>
                      <td class="number js-pris-calc">{{ form_widget(form.prism2) }}</td>
                      <td class="number text-right">
                        <span class="js-pris js-readonly">
                          <input type="text" id="vis_pris_ex_korr" name="vis_storparcel[priskorrektion_total]" disabled="disabled" class="form-control">
                        </span>
                        <span class="js-fastpris js-pris-calc">{{ form_widget(form.fastpris) }}</span>
                        <span class="js-minbud">
                          {{ form_widget(form.minbud) }}
                          <button type="button" class="btn btn-default js-calc-minbud">Udregn min. bud</button>
                        </span>
                      </td>
                    </tr>
                    <tr class="js-priskorrektion">
                      <th></th>
                      <th colspan="2">{{ grundsalg.custom_label( form.priskorrektion1 ) }}</th>
                      <th>{{ grundsalg.custom_label( form.antalkorr1 ) }}</th>
                      <th>{{ grundsalg.custom_label( form.akrkorr1 ) }}</th>
                      <th>{{ 'app.grund.korrektionerialt' | trans }}</th>
                    </tr>
                    <tr class="js-priskorrektion">
                      <td></td>
                      <td colspan="2" class="priskorrektion--select">{{ form_widget(form.priskorrektion1) }}</td>
                      <td class="number js-pris-calc">{{ form_widget(form.antalkorr1) }}</td>
                      <td class="number js-pris-calc">{{ form_widget(form.akrkorr1) }}</td>
                      <td class="number js-readonly">
                        <input type="text" id="vis_priskorrektion1_total" name="vis_storparcel[priskorrektion1_total]" disabled="disabled" class="form-control">
                      </td>
                    </tr>
                    <tr class="js-priskorrektion">
                      <td></td>
                      <td colspan="2" class="priskorrektion--select">{{ form_widget(form.priskorrektion2) }}</td>
                      <td class="number js-pris-calc">{{ form_widget(form.antalkorr2) }}</td>
                      <td class="number js-pris-calc">{{ form_widget(form.akrkorr2) }}</td>
                      <td class="number js-readonly">
                        <input type="text" id="vis_priskorrektion2_total" name="vis_storparcel[priskorrektion2_total]" disabled="disabled" class="form-control">
                      </td>
                    </tr>
                    <tr class="js-priskorrektion">
                      <td></td>
                      <td colspan="2" class="priskorrektion--select">{{ form_widget(form.priskorrektion3) }}</td>
                      <td class="number js-pris-calc">{{ form_widget(form.antalkorr3) }}</td>
                      <td class="number js-pris-calc">{{ form_widget(form.akrkorr3) }}</td>
                      <td class="number js-readonly">
                        <input type="text" id="vis_priskorrektion3_total" name="vis_storparcel[priskorrektion3_total]" disabled="disabled" class="form-control">
                      </td>
                    </tr>
                    <tr class="js-priskorrektion">
                      <td colspan="5" class="priskorrektion_total"></td>
                      <td class="number pris-total js-readonly">
                        {{ form_widget(form.pris) }}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field-group col-xs-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'app.grund.note' | trans }}</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-12">
                  {{ form_row( form.note ) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab_2">
      <div class="row">

        {# Lokalplan #}
        <div class="field-group col-xs-12 col-sm-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">
                Lokalplan
              </h3>
            </div>

            <div class="box-body">
              {% if entity.salgsomraade and entity.salgsomraade.lokalplan %}
                <dl class="dl-horizontal">
                  <dt>LP</dt>
                  <dd>{{ entity.salgsomraade.lokalplan.nr }}</dd>
                  <dt>Titel</dt>
                  <dd>{{ entity.salgsomraade.lokalplan.titel }}</dd>
                  <dt>Projektleder</dt>
                  <dd>{{ entity.salgsomraade.lokalplan.projektleder }}</dd>
                  <dt>Tlf. nr.</dt>
                  <dd>{{ entity.salgsomraade.lokalplan.telefon }}</dd>
                  <dd>
                    <br>
                    <a class="btn btn default" href="{{ path('easyadmin', parameters = {'action': 'edit', 'entity': 'lokalplan', 'id': entity.salgsomraade.lokalplan.id}) }}">Vis Lokalplan</a>
                  </dd>
                </dl>
              {% else %}
                <dl class="dl-horizontal">
                  <dt>LP</dt>
                  <dd></dd>
                  <dt>Titel</dt>
                  <dd></dd>
                  <dt>Projektleder</dt>
                  <dd></dd>
                  <dt>Tlf. nr.</dt>
                  <dd></dd>
                  <dd></dd>
                </dl>
              {% endif %}
            </div>
          </div>
        </div>

        {# Delomraade #}
        <div class="field-group col-xs-12 col-sm-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">
                Delområde
              </h3>
            </div>

            <div class="box-body">
              {% if entity.salgsomraade and entity.salgsomraade.delomraade %}
                <dl class="dl-horizontal">
                  <dt>LP-område</dt>
                  <dd>{{ entity.salgsomraade.delomraade.o1 }}-{{ entity.salgsomraade.delomraade.o2 }}.{{ entity.salgsomraade.delomraade.o3 }}</dd>
                  <dt>KPL</dt>
                  <dd>{{ entity.salgsomraade.delomraade.kpl1 }}.{{ entity.salgsomraade.delomraade.kpl2 }}.{{ entity.salgsomraade.delomraade.kpl3 }}.{{ entity.salgsomraade.delomraade.kpl4 }}</dd>
                  <dt>Anvendelse</dt>
                  <dd>{{ entity.salgsomraade.delomraade.anvendelse }}</dd>
                  <dt>Mulighed for</dt>
                  <dd>
                    {% if entity.salgsomraade.delomraade.mulighedfor is iterable %}
                      {{ entity.salgsomraade.delomraade.mulighedfor | join(', ') }}
                    {% else %}
                      {{ entity.salgsomraade.delomraade.mulighedfor }}
                    {% endif %}
                  </dd>
                </dl>
              {% else %}
                <dl class="dl-horizontal">
                  <dt>LP-område</dt>
                  <dd></dd>
                  <dt>KPL</dt>
                  <dd></dd>
                  <dt>Anvendelse</dt>
                  <dd></dd>
                  <dt>Mulighed for</dt>
                  <dd></dd>
                </dl>
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab_3">
      <div class="row">
        <div class="field-group col-xs-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">
                {{ 'app.salgsomraade.salgsomraade' | trans }}
              </h3>
            </div>

            <div class="box-body">

              {{ form_row( form.landinspektoer ) }}

              <div class="col-xs-12 ">
                <div class="field-divider">
                  <hr>
                </div>

              </div>

              <dl class="dl-horizontal">
                <dt>Adresse</dt>
                <dd>{{ entity.landinspektoer ? entity.landinspektoer.adresse }}</dd>
                <dt>Postnr/By</dt>
                <dd>{{ entity.landinspektoer ? entity.landinspektoer.postby }}</dd>
                <dt>Tlf. nr.</dt>
                <dd>{{ entity.landinspektoer ? entity.landinspektoer.telefon }}</dd>
                <dt>Mobil</dt>
                <dd>{{ entity.landinspektoer ? entity.landinspektoer.mobil }}</dd>
                <dt>Email</dt>
                <dd>{{ entity.landinspektoer ? entity.landinspektoer.email }}</dd>
                {% if entity.landinspektoer %}
                  <dd>
                    <br>
                    <a class="btn btn default" href="{{ path('easyadmin', parameters = {'action': 'edit', 'entity': 'landinspektoer', 'id': entity.landinspektoer.id }) }}">Vis Landinspektør</a>
                  </dd>
                {% endif %}
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab_4">
      <div class="row">
        <div class="field-group col-xs-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">
                {{ 'app.grund.salg' | trans }}
              </h3>
            </div>

            <div class="box-body">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group field-date">
                    {{ form_label(form.resstart) }}
                    <div class="col-sm-10">
                      <div class="input-group">
                        {{ form_widget(form.resstart) }}
                        <span class="input-group-btn">
                        <button class="btn btn-default js-resstart" type="button">I dag</button>
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group field-date">
                    {{ form_label(form.resslut) }}
                    <div class="col-sm-10">
                      <div class="input-group">
                        {{ form_widget(form.resslut) }}
                        <span class="input-group-btn">
                        <button class="btn btn-default js-resslut" type="button">+14</button>
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group field-date">
                    {{ form_label(form.tilbudstart) }}
                    <div class="col-sm-10">
                      <div class="input-group">
                        {{ form_widget(form.tilbudstart) }}
                        <span class="input-group-btn">
                        <button class="btn btn-default js-tilbudstart" type="button">I dag</button>
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group field-date">
                    {{ form_label(form.tilbudslut) }}
                    <div class="col-sm-10">
                      <div class="input-group">
                        {{ form_widget(form.tilbudslut) }}
                        <span class="input-group-btn">
                        <button class="btn btn-default js-tilbudslut" type="button">+28</button>
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group field-date">
                    {{ form_label(form.accept) }}
                    <div class="col-sm-10">
                      <div class="input-group">
                        {{ form_widget(form.accept) }}
                        <span class="input-group-btn">
                        <button class="btn btn-default js-accept" type="button">I dag</button>
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  {{ form_row(form.overtagelse) }}
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group field-date">
                    {{ form_label(form.skoederekv) }}
                    <div class="col-sm-10">
                      <div class="input-group">
                        {{ form_widget(form.skoederekv) }}
                        <span class="input-group-btn">
                        <button class="btn btn-default js-today" type="button">I dag</button>
                      </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group field-date">
                    {{ form_label(form.beloebanvist) }}
                    <div class="col-sm-10">
                      <div class="input-group">
                        {{ form_widget(form.beloebanvist) }}
                        <span class="input-group-btn">
                        <button class="btn btn-default js-today" type="button">I dag</button>
                      </span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group  field-number js-fastpris">
                    <label class="col-sm-2 control-label" for="storparcel_salgsprisumoms">{{ 'app.grund.salgsprisumoms' | trans }}</label>
                    <div class="col-sm-10 js-readonly number">
                      {{ form_widget(form.salgsprisumoms) }}
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="field-group col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">
                {{ 'app.grund.koeber' | trans }}
              </h3>
            </div>

            <div class="box-body">
              {{ form_row(form.koeberNavn) }}
              {{ form_row(form.koeberAdresse) }}
              {{ form_row(form.koeberPostby) }}
              {{ form_row(form.koeberLand) }}
              {{ form_row(form.koeberTelefon) }}
              {{ form_row(form.koeberMobil) }}
              {{ form_row(form.koeberEmail) }}
            </div>
          </div>
        </div>

        <div class="field-group col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">
                {{ 'app.grund.medkoeber' | trans }}
              </h3>
            </div>

            <div class="box-body">
              {{ form_row(form.medkoeberNavn) }}
              {{ form_row(form.medkoeberAdresse) }}
              {{ form_row(form.medkoeberPostby) }}
              {{ form_row(form.medkoeberLand) }}
              {{ form_row(form.medkoeberTelefon) }}
              {{ form_row(form.medkoeberMobil) }}
              {{ form_row(form.medkoeberEmail) }}
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="field-group col-xs-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">
                {{ 'app.grund.koeberNotat' | trans }}
              </h3>
            </div>

            <div class="box-body">
              {{ form_row(form.koeberNotat) }}
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab_5">
      <div class="row">
        <div class="field-group col-xs-12">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>{{ 'app.grund.koeberNavn' | trans }}</th>
              <th>{{ 'app.grund.koeberAdresse' | trans }}</th>
              <th>{{ 'app.interessent.createdAt' | trans }}</th>
              <th>{{ 'app.interessent.annulleret' | trans }}</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in entity.reservationer %}
              <tr>
                <td>{{ reservation.interessent.koeberNavn }}</td>
                <td>{{ reservation.interessent.koeberAdresse }}</td>
                <td>{{ reservation.interessent.createdAt | date }}</td>
                <td>{{ reservation.annulleret ? 'label.yes' | trans }}</td>
                <td>
                  <a class="btn btn default" href="{{ path('easyadmin', parameters = {'action': 'show', 'entity': 'interessent', 'id': reservation.interessent.id }) }}">{{ 'action.show' | trans }}</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab_6">
      <div class="row">
        <div class="field-group col-xs-12">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>{{ 'app.salgshistorik.navn' | trans }}</th>
              <th>{{ 'app.salgshistorik.status' | trans }}</th>
              <th>{{ 'app.salgshistorik.createdAt' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for salg in entity.salgshistorik %}
              <tr>
                <td>{{ salg.navn }}</td>
                <td>{{ salg.salgStatus }}</td>
                <td>{{ salg.createdAt | date }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.tab-pane -->
  </div>
  <!-- /.tab-content -->
</div>

{% include "easy_admin/_includes/_blameable.html.twig" %}

{{ form_rest(form) }}

<div class="row">
  <div class="col-xs-12 form-actions">
    <div class="form-group">
      <div id="form-actions-row">
        {% block item_actions %}
          {# the 'save' action is hardcoded for the 'edit' and 'new' views #}
          <button type="submit" class="btn btn-primary action-save">
            <i class="fa fa-save"></i> {{ 'action.save'|trans(_trans_parameters, _translation_domain) }}
          </button>

          {% set _entity_actions = (easyadmin.view == 'new')
          ? easyadmin_get_actions_for_new_item(easyadmin.entity.name)
          : easyadmin_get_actions_for_edit_item(easyadmin.entity.name) %}

          {% set _entity_id = (easyadmin.view == 'new')
          ? null
          : attribute(easyadmin.item, easyadmin.entity.primary_key_field_name) %}

          {% set _request_parameters = { entity: easyadmin.entity.name, referer: app.request.query.get('referer') } %}

          {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
            actions: _entity_actions,
            request_parameters: _request_parameters,
            translation_domain: _translation_domain,
            trans_parameters: _trans_parameters,
            item_id: _entity_id
          }, with_context = false) }}
        {% endblock item_actions %}
      </div>
    </div>
  </div>
</div>

{{ form_end(form) }}

<script>
  (function ($) {
    $(document).ready(function () {

      // Set here because readonly not properly supported by EasyAdmin
      $('.js-readonly input').prop('readonly', true);

      grundShowHidePriceFields();
      grundShowHideEtagem2();
      grundShowHideAnnoceres();
      grundSetReadOnlyDatoannonce();

      $('[id$=_annonceres]').on('click', grundShowHideAnnoceres);
      $('.js-calc-minbud').on('click', grundCalcMinbud);
      $('.js-pris-calc input').on('keyup', grundCalc);
      $('[id$=_type]').on('change', grundShowHideEtagem2);
      $('[id$=_salgstype]').on('change', grundShowHidePriceFields);

      $('.js-price-table').show();

      $('.js-resslut').on('click', function () {
        var resstart = $('[id$=_resstart]').val();
        var resslut = moment(resstart).add(14, 'd').format('YYYY-MM-DD');
        $('[id$=_resslut]').val(resslut);
      });

      $('.js-tilbudslut').on('click', function () {
        var tilbudstart = $('[id$=_tilbudstart]').val();
        var tilbudslut = moment(tilbudstart).add(28, 'd').format('YYYY-MM-DD');
        $('[id$=_tilbudslut]').val(tilbudslut);
      });

      $('.js-today').on('click', function () {
        var dateInput = $(this).parent().parent().find('input');
        dateInput.val(moment().format('YYYY-MM-DD'));
      });

      $('.js-accept').on('click', function () {
        var dateInput = $(this).parent().parent().find('input');
        dateInput.val(moment().format('YYYY-MM-DD'));

        grundCalc();
      });

      $('.js-resstart').on('click', function () {
        var dateInput = $(this).parent().parent().find('input');
        dateInput.val(moment().format('YYYY-MM-DD'));

        var reslut = moment().add(14, 'd').format('YYYY-MM-DD');
        $('[id$=_resslut]').val(reslut);
      });

      $('.js-tilbudstart').on('click', function () {
        var dateInput = $(this).parent().parent().find('input');
        dateInput.val(moment().format('YYYY-MM-DD'));

        var reslut = moment().add(28, 'd').format('YYYY-MM-DD');
        $('[id$=_tilbudslut]').val(reslut);
      });

    });

    var grundShowHideAnnoceres = function () {
      var annonceres = $('[id$=_annonceres]').is(":checked");

      if (annonceres) {
          $('.js-datoAnnonce').show();
      } else {
          $('.js-datoAnnonce').hide();
      }
    }

    var grundSetReadOnlyDatoannonce = function() {
      var status = $('[id$=_status]').val();
      var datoAnnonceInput = $('[id$=_datoAnnonce]');

      if ((status === 'Fremtidig') || (status === 'Annonceret')) {
        datoAnnonceInput.prop('readonly', true);
      } else {
        datoAnnonceInput.prop('readonly', false);
      }
    }

    var grundShowHideEtagem2 = function () {
      var type = $('[id$=_type]').val();

      if (type == 'Storparcel') {
        $('.js-maxetagem2').show();
      } else {
        $('.js-maxetagem2').hide();
      }
    }

    var grundShowHidePriceFields = function () {
      var salgsType = $('[id$=_salgstype]').val();

      if (salgsType == 'Kvadratmeterpris' || salgsType == 'Etgm2') {

        $('.js-fastpris').hide();
        $('.js-minbud').hide();
        $('.js-auktion').hide();

        $('.js-pris').show();
        $('.js-priskorrektion').show();

        grundCalc();

      } else if (salgsType == 'Fastpris') {

        $('.js-priskorrektion').hide();
        $('.js-pris').hide();
        $('.js-minbud').hide();
        $('.js-auktion').hide();

        $('.js-fastpris').show();

      } else if (salgsType == 'Auktion') {

        $('.js-priskorrektion').hide();
        $('.js-pris').hide();
        $('.js-fastpris').hide();

        $('.js-minbud').show();
        $('.js-auktion').show();

        grundCalcMinbud();

      }
    }

    var grundCalcMinbud = function () {
      var salgsType = $('[id$=_salgstype]').val();
      var type = $('[id$=_type]').val();

      var arealInput = $('[id$=_areal]');
      var arealvejInput = $('[id$=_arealvej]');
      var arealkoteletInput = $('[id$=_arealkotelet]');
      var bruttoarealInput = $('[id$=_bruttoareal]');
      var prism2Input = $('[id$=_prism2]');
      var minBudInput = $('[id$=_minbud]');
      var maxetagem2Input = $('[id$=_maxetagem2]');

      var areal = arealInput.grundParseFloat();
      var arealvej = arealvejInput.grundParseFloat();
      var arealkotelet = arealkoteletInput.grundParseFloat();
      var prism2 = prism2Input.grundParseFloat();
      var minbud = minBudInput.grundParseFloat();
      var maxetagem2 = maxetagem2Input.grundParseFloat();

      var bruttoareal = areal - arealvej - arealkotelet;
      bruttoarealInput.grundFloatToString(bruttoareal);

      if (salgsType == 'Auktion') {
        if (prism2 > 0) {
          if (type === 'Storparcel') {
            minbud = maxetagem2 * prism2;
          } else {
            minbud = bruttoareal * prism2;
          }
          minBudInput.grundFloatToString(minbud);
        }
      }
    }

    var grundCalc = function () {
      var salgsType = $('[id$=_salgstype]').val();

      var arealInput = $('[id$=_areal]');
      var arealvejInput = $('[id$=_arealvej]');
      var arealkoteletInput = $('[id$=_arealkotelet]');
      var bruttoarealInput = $('[id$=_bruttoareal]');
      var prism2Input = $('[id$=_prism2]');
      var prisInput = $('[id$=_pris]');
      var prisExKorrInput = $('#vis_pris_ex_korr');
      var minBudInput = $('[id$=_minbud]');

      var areal = arealInput.grundParseFloat();
      var arealvej = arealvejInput.grundParseFloat();
      var arealkotelet = arealkoteletInput.grundParseFloat();
      var bruttoareal = bruttoarealInput.grundParseFloat();
      var prism2 = prism2Input.grundParseFloat();
      var pris = prisInput.grundParseFloat();
      var prisExKorr = prisExKorrInput.grundParseFloat();
      var minbud = minBudInput.grundParseFloat();

      var bruttoareal = areal - arealvej - arealkotelet;
      bruttoarealInput.grundFloatToString(bruttoareal);

      if (salgsType == 'Kvadratmeterpris' || salgsType == 'Etgm2') {

        var antalkorr1Input = $('[id$=_antalkorr1]')
        var akrkorr1Input = $('[id$=_akrkorr1]');
        var priskorrektion1_totalInput = $('[id$=priskorrektion1_total]');

        var antalkorr2Input = $('[id$=_antalkorr2]')
        var akrkorr2Input = $('[id$=_akrkorr2]');
        var priskorrektion2_totalInput = $('[id$=priskorrektion2_total]');

        var antalkorr3Input = $('[id$=_antalkorr3]')
        var akrkorr3Input = $('[id$=_akrkorr3]');
        var priskorrektion3_totalInput = $('[id$=priskorrektion3_total]');

        var antalkorr1 = antalkorr1Input.grundParseFloat();
        var akrkorr1 = akrkorr1Input.grundParseFloat();

        var antalkorr2 = antalkorr2Input.grundParseFloat();
        var akrkorr2 = akrkorr2Input.grundParseFloat();

        var antalkorr3 = antalkorr3Input.grundParseFloat();
        var akrkorr3 = akrkorr3Input.grundParseFloat();

        if (!isNaN(antalkorr1) && !isNaN(akrkorr1)) {
          var priskorrektion1 = antalkorr1 * akrkorr1;
          priskorrektion1_totalInput.grundFloatToString(priskorrektion1);
        }

        if (!isNaN(antalkorr2) && !isNaN(akrkorr2)) {
          var priskorrektion2 = antalkorr2 * akrkorr2;
          priskorrektion2_totalInput.grundFloatToString(priskorrektion2);
        }

        if (!isNaN(antalkorr3) && !isNaN(akrkorr3)) {
          var priskorrektion3 = antalkorr3 * akrkorr3;
          priskorrektion3_totalInput.grundFloatToString(priskorrektion3);
        }

        if (prism2 > 0) {
          prisExKorr = bruttoareal * prism2;
          prisExKorrInput.grundFloatToString(prisExKorr);

          pris = prisExKorr - (priskorrektion1 + priskorrektion2 + priskorrektion3);
          prisInput.grundFloatToString(pris);
        }

      } else if (salgsType == 'Fastpris') {
        var fastprisInput = $('[id$=_fastpris]');
        var fastpris = fastprisInput.val();

        var acceptInput = $('[id$=_accept]');
        var accept = acceptInput.val();

        var salgsprisumomsInput = $('[id$=_salgsprisumoms]');
        var salgsprisumoms = salgsprisumomsInput.val();

        if (fastpris && accept) {
          salgsprisumoms = 0.8 * fastpris;
          salgsprisumomsInput.grundFloatToString(salgsprisumoms);
        }

      }
    }


  }(jQuery))

  jQuery.fn.extend({
    grundParseFloat: function () {
      var value = $(this).val().replace(',', '.');
      var floatValue = parseFloat(value);
      if (isNaN(floatValue)) {
        floatValue = 0;
      }
      return floatValue;
    },
    grundFloatToString: function (value) {
      if (isNaN(value)) {
        floatValue = 0.0;
      }
      var result = value.toFixed(2).toString().replace('.', ',');
      this.val(result);

      return result;
    }
  });
</script>