{% extends "@EasyAdmin/default/new.html.twig" %}

{% block main %}
  {% macro entity_value(label, field = null) %}
    <div class="form-group field-entity">
      <label class="col-sm-2 control-label">{{ label | trans }}</label>
      <div class="col-sm-10">
      <span class="form-control">
        {% if field is same as(true) %}
          <span class="label label-success">Ja</span>
        {% elseif field is same as(false) %}
          <span class="label label-danger">Nej</span>
        {% elseif field.date is defined %}
          {{ field | date }}
        {% elseif field is iterable %}
          {{ field | join(', ') }}
        {% else %}
          {{ field }}
        {% endif %}
      </span>
      </div>
    </div>
  {% endmacro %}

  {% macro entity_row(label, field = null) %}
    <div class="form-group field-entity">
      <label class="col-sm-2 control-label">{{ label | trans }}</label>
      <div class="col-sm-10">
        <div class="form-control">
          {% if field is same as(true) %}
            <span class="label label-success">Ja</span>
          {% elseif field is same as(false) %}
            <span class="label label-danger">Nej</span>
          {% elseif field.date is defined %}
            {{ field | date }}
          {% elseif field is iterable %}
            {{ field | join(', ') }}
          {% else %}
            {{ field }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endmacro %}

  {% macro custom_label(field) %}
    {% set label_attr = field.vars.label_attr %}
    {% set translation_domain = field.vars.translation_domain %}
    {% set label = field.vars.easyadmin.field.label %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
  {% endmacro %}

  {% import _self as grundsalg %}

  {{ form_start(form) }}

  {# We are bypassing some Easyadmin init functions so we need to set some variables manually #}
  {% set easyadmin = {'entity': _entity_config, 'view': 'edit', 'item': entity } %}
  {% set easyadmin_form_groups = form.vars['easyadmin_form_groups'] %}

  {# Begin default widget #}
  {% set _translation_domain = easyadmin.entity.translation_domain %}
  {% set _trans_parameters = { '%entity_name%':  easyadmin.entity.name|trans, '%entity_label%': easyadmin.entity.label|trans } %}

  {% if form.vars.errors|length > 0 %}
    {{ form_errors(form) }}
  {% endif %}

  <input type="hidden" name="referer" value="{{ app.request.query.get('referer', '') }}"/>


  <div class="row">

    <div class="field-group col-xs-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">{{ 'app.salgsomraade.salgsomraade' | trans }}</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              {{ form_row(form.salgsomraade) }}
            </div>
            <div class="col-md-6">
              {% if entity.salgsomraade %}
                {{ grundsalg.entity_value('app.salgsomraade.annonceres', entity.salgsomraade.annonceres ) }}
              {% else %}
                {{ grundsalg.entity_value('app.salgsomraade.annonceres' ) }}
              {% endif %}
            </div>
            <div class="col-md-6">
              {% if entity.salgsomraade %}
                {{ grundsalg.entity_value('app.salgsomraade.titel', entity.salgsomraade.titel ) }}
              {% else %}
                {{ grundsalg.entity_value('app.salgsomraade.titel' ) }}
              {% endif %}
            </div>
            <div class="col-md-6">
              {% if entity.salgsomraade %}
                {{ grundsalg.entity_value('app.grund.psp', entity.salgsomraade.sagsnr ) }}
              {% else %}
                {{ grundsalg.entity_value('app.grund.psp' ) }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field-group col-xs-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">{{ 'app.grund.grund' | trans }}</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              {{ form_row(form.type) }}

              {{ form_row(form.ejerlav) }}
              {{ form_row(form.vej) }}

              {{ form_row(form.postby) }}
              {{ form_row(form.lokalsamfund) }}
              {{ form_row(form.landinspektoer) }}
              {{ form_row(form.prism2) }}

            </div>
            <div class="col-md-6">
              {{ grundsalg.entity_value('app.grund.salgstatus', entity.visStatus ) }}
              <div class="js-status">{{ form_row(form.status) }}</div>
              {{ form_row(form.salgstype) }}

              <div class="field-section ">
                <h2>
                  {{ 'app.grund.annonceres' | trans }}
                </h2>
              </div>
              {{ form_row(form.annonceres) }}
              <div class="js-datoAnnonce">
                {{ form_row(form.datoAnnonce) }}
                {{ form_row(form.datoAnnonce1) }}
              </div>

              <div class="js-auktion-wrapper">
                <div class="field-section ">
                  <h2>
                    {{ 'app.grund.auktion' | trans }}
                  </h2>
                </div>
                {{ form_row(form.auktionstartdato) }}
                {{ form_row(form.auktionslutdato) }}
              </div>

              <div class="field-section ">
                <h2>
                  {{ 'app.grund.tilsluttet_header' | trans }}
                </h2>
              </div>

              {{ form_row(form.tilsluttet) }}

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field-group col-xs-12 col-sm-12 new-row">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">
            Salg
          </h3>
        </div>

        <div class="box-body">

          <div class="row">
            <div class="col-xs-12 ">

              {{ form_row(form.grunde) }}

            </div>
          </div>
        </div>
      </div>
    </div>


    {{ form_rest(form) }}

  </div>

  {% include "easy_admin/_includes/_blameable.html.twig" %}


  <div class="row">
    <div class="col-xs-12 form-actions">
      <div class="form-group">
        <div id="form-actions-row">
          {% block item_actions %}
            {# the 'save' action is hardcoded for the 'edit' and 'new' views #}
            <button type="submit" class="btn btn-primary action-save">
              <i class="fa fa-save"></i> {{ 'action.save'|trans(_trans_parameters, _translation_domain) }}
            </button>

            {% set _entity_actions = (easyadmin.view == 'new')
            ? easyadmin_get_actions_for_new_item(easyadmin.entity.name)
            : easyadmin_get_actions_for_edit_item(easyadmin.entity.name) %}

            {% set _entity_id = (easyadmin.view == 'new')
            ? null
            : attribute(easyadmin.item, easyadmin.entity.primary_key_field_name) %}

            {% set _request_parameters = { entity: easyadmin.entity.name, referer: app.request.query.get('referer') } %}

            {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
              actions: _entity_actions,
              request_parameters: _request_parameters,
              translation_domain: _translation_domain,
              trans_parameters: _trans_parameters,
              item_id: _entity_id
            }, with_context = false) }}
          {% endblock item_actions %}
        </div>
      </div>
    </div>
  </div>

  {{ form_end(form) }}

{% endblock %}