{% extends "@EasyAdmin/default/show.html.twig" %}

{% macro entity_row(label, field = null) %}
  <div class="form-group field-entity">
    <label class="col-sm-2 control-label">{{ label | trans }}</label>
    <div class="col-sm-10">
      <div class="form-control" id="{{ label | replace({'.': '_'}) }}">
        {% if field is same as(true) %}
          <span class="label label-success">Ja</span>
        {% elseif field is same as(false) %}
          <span class="label label-danger">Nej</span>
        {% elseif field.date is defined %}
          {{ field | date }}
        {% elseif field is iterable %}
          {{ field | join(', ') }}
        {% else %}
          {{ field }}
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro entity_render_field(entity_config, entity, label, metadata) %}
  <div class="form-group field-entity">
    <label class="col-sm-2 control-label">{{ label | trans }}</label>
    <div class="col-sm-10">
      <div class="form-control" id="{{ label | replace({'.': '_'}) }}">
        {{ easyadmin_render_field_for_show_view(entity_config.name, entity, metadata) }}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro entity_label(label) %}
  <label class="col-sm-2 control-label">{{ label | trans }}</label>
{% endmacro %}

{% macro entity_custom_label(label) %}
  <label class="control-label">{{ label | trans }}</label>
{% endmacro %}

{% macro entity_widget(field) %}
  <span class="form-control">{{ field }}</span>
{% endmacro %}

{% import _self as grundsalg %}

{% block main %}

  <div class="form-horizontal">

    {% set _translation_domain = _entity_config.translation_domain %}
    {% set easyadmin_form_groups = {} %}
    {% set form_group = '' %}
    {% for field, metadata in fields %}
      {% if metadata.type == 'group' %}
        {% set easyadmin_form_groups = easyadmin_form_groups|merge({(field): metadata }) %}
        {% set form_group = field %}
      {% else %}
        {% set metadata = metadata|merge({'form_group': form_group}) %}
        {% set fields = fields|merge({(field): metadata }) %}
      {% endif %}
    {% endfor %}

    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">{{ 'app.grund.oplysninger' | trans }}</a></li>
        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">{{ 'app.grund.lokalplan' | trans }}</a></li>
        <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">{{ 'app.grund.landinspektoer' | trans }}</a></li>
        <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">{{ 'app.grund.salg' | trans }}</a></li>
        <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="false">{{ 'app.grund.venteliste' | trans }} ({{ entity.reservationer | length }})</a></li>
        <li class=""><a href="#tab_6" data-toggle="tab" aria-expanded="false">{{ 'app.grund.historiskeSalg' | trans }} ({{ entity.salgshistorik | length }})</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">

          <div class="row">

            <div class="field-group col-xs-12">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ 'app.salgsomraade.salgsomraade' | trans }}</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      {{ grundsalg.entity_row('app.grund.salgsomraade', entity.salgsomraade ) }}
                    </div>
                    <div class="col-md-6">
                      {% if entity.salgsomraade %}
                        {{ grundsalg.entity_row('app.salgsomraade.annonceres', entity.salgsomraade.annonceres ) }}
                      {% else %}
                        {{ grundsalg.entity_row('app.salgsomraade.annonceres' ) }}
                      {% endif %}
                    </div>
                    <div class="col-md-6">
                      {% if entity.salgsomraade %}
                        {{ grundsalg.entity_row('app.salgsomraade.titel', entity.salgsomraade.titel ) }}
                      {% else %}
                        {{ grundsalg.entity_row('app.salgsomraade.titel' ) }}
                      {% endif %}
                    </div>
                    <div class="col-md-6">
                      {% if entity.salgsomraade %}
                        {{ grundsalg.entity_row('app.grund.psp', entity.salgsomraade.sagsnr ) }}
                      {% else %}
                        {{ grundsalg.entity_row('app.grund.psp' ) }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field-group col-xs-12">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ 'app.grund.grund' | trans }}</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      {{ grundsalg.entity_row('app.grund.gid', entity.gid ) }}
                      {{ grundsalg.entity_row('app.grund.type', entity.type ) }}

                      <div class="form-group field-text">
                        {{ grundsalg.entity_label('app.grund.mnr' ) }}
                        <div class="col-sm-5">{{ grundsalg.entity_widget(entity.mnr ) }}</div>
                        <div class="col-sm-5">{{ grundsalg.entity_widget(entity.mnr2 ) }}</div>
                      </div>

                      {{ grundsalg.entity_row('app.grund.delareal', entity.delareal ) }}
                      {{ grundsalg.entity_row('app.grund.ejerlav', entity.ejerlav ) }}
                      {{ grundsalg.entity_row('app.grund.vej', entity.vej ) }}

                      <div class="form-group field-text">
                        {{ grundsalg.entity_label('app.grund.husnummer') }}
                        <div class="col-sm-3">{{ grundsalg.entity_widget(entity.husnummer ) }}</div>
                        {{ grundsalg.entity_label('app.grund.bogstav') }}
                        <div class="col-sm-5">{{ grundsalg.entity_widget(entity.bogstav) }}</div>
                      </div>

                      {{ grundsalg.entity_row('app.grund.postby', entity.postby ) }}
                      {{ grundsalg.entity_row('app.grund.lokalsamfund', entity.lokalsamfund ) }}
                      <div class="form-group field-text">
                        {{ grundsalg.entity_label('app.grund.urlgis') }}
                        <div class="col-sm-10">{{ grundsalg.entity_widget(entity.urlgis) }}</div>
                      </div>
                      <div class="form-group field-text">
                        <div class="col-sm-10 col-md-offset-2"><a href="{{ entity.urlgis }}" target="_blank" class="btn btn-default"><i
                              class="fa fa-external-link-square"></i> {{ 'action.show' | trans }}</a></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      {{ grundsalg.entity_row('app.grund.salgstatus', entity.visStatus ) }}
                      <div class="js-status">{{ grundsalg.entity_row('app.grund.status', entity.status ) }}</div>
                      {{ grundsalg.entity_row('app.grund.publicstatus', entity.publicstatus ) }}
                      {{ grundsalg.entity_row('app.grund.salgstype', entity.salgstype ) }}

                      <div class="field-section ">
                        <h2>
                          {{ 'app.grund.annonceres' | trans }}
                        </h2>
                      </div>

                      {{ grundsalg.entity_render_field(_entity_config, entity, 'app.grund.annonceres', fields['annonceres'] ) }}
                      <div class="js-datoAnnonce">
                        {{ grundsalg.entity_row('app.grund.datoAnnonce', entity.datoAnnonce ) }}
                        {{ grundsalg.entity_row('app.grund.datoAnnonce1', entity.datoAnnonce1 ) }}
                      </div>

                      <div class="js-auktion-wrapper">
                        <div class="field-section ">
                          <h2>
                            {{ 'app.grund.auktion' | trans }}
                          </h2>
                        </div>
                        {{ grundsalg.entity_row('app.grund.auktionstartdato', entity.auktionstartdato ) }}
                        {{ grundsalg.entity_row('app.grund.auktionslutdato', entity.auktionslutdato ) }}
                      </div>

                      <div class="field-section ">
                        <h2>
                          {{ 'app.grund.tilsluttet_header' | trans }}
                        </h2>
                      </div>

                      {{ grundsalg.entity_row('app.grund.tilsluttet', entity.tilsluttet ) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field-group col-xs-12">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ 'app.grund.priser' | trans }}</h3>
                </div>
                <div class="box-body">
                  <div class="row js-maxetagem2">
                    <div class="col-xs-12">
                      <div class="col-xs-6">
                        <div class="form-group field-text">
                          {{ grundsalg.entity_row('app.grund.maxetagem2', entity.maxetagem2 ) }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <table class="table form-collection js-price-table">
                        <thead>
                        <tr>
                          <th>{{ grundsalg.entity_custom_label( 'app.grund.areal' ) }}</th>
                          <th>{{ grundsalg.entity_custom_label( 'app.grund.arealvej' ) }}</th>
                          <th>{{ grundsalg.entity_custom_label( 'app.grund.arealkotelet' ) }}</th>
                          <th>{{ grundsalg.entity_custom_label( 'app.grund.bruttoareal' ) }}</th>
                          <th>{{ grundsalg.entity_custom_label( 'app.grund.prism2' ) }}</th>
                          <th>
                            <span class="js-pris">{{ grundsalg.entity_custom_label( 'app.grund.pris' ) }}</span>
                            <span class="js-fastpris">{{ grundsalg.entity_custom_label( 'app.grund.fastpris' ) }}</span>
                            <span class="js-minbud">{{ grundsalg.entity_custom_label( 'app.grund.minbud' ) }}</span>
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="number js-pris-calc">{{ grundsalg.entity_widget(entity.areal) }}</td>
                          <td class="number js-pris-calc">{{ grundsalg.entity_widget(entity.arealvej) }}</td>
                          <td class="number js-pris-calc">{{ grundsalg.entity_widget(entity.arealkotelet) }}</td>
                          <td class="number js-readonly">{{ grundsalg.entity_widget(entity.bruttoareal) }}</td>
                          <td class="number js-pris-calc">{{ grundsalg.entity_widget(entity.prism2) }}</td>
                          <td class="number text-right">
                        <span class="js-pris js-readonly">
                          <input type="text" id="vis_pris_ex_korr" name="vis_storparcel[priskorrektion_total]" disabled="disabled" class="form-control">
                        </span>
                            <span class="js-fastpris js-pris-calc">{{ grundsalg.entity_widget(entity.fastpris) }}</span>
                            <span class="js-minbud">{{ grundsalg.entity_widget(entity.minbud) }}</span>
                          </td>
                        </tr>
                        <tr class="js-priskorrektion">
                          <th></th>
                          <th colspan="2">{{ grundsalg.entity_custom_label( 'app.grund.priskorrektion1' ) }}</th>
                          <th>{{ grundsalg.entity_custom_label( 'app.grund.antalkorr1' ) }}</th>
                          <th>{{ grundsalg.entity_custom_label( 'app.grund.akrkorr1' ) }}</th>
                          <th>{{ grundsalg.entity_custom_label( 'app.grund.korrektionerialt' ) }}</th>
                        </tr>
                        <tr class="js-priskorrektion">
                          <td></td>
                          <td colspan="2" class="priskorrektion--select">{{ grundsalg.entity_widget(entity.priskorrektion1) }}</td>
                          <td class="number js-pris-calc">{{ grundsalg.entity_widget(entity.antalkorr1) }}</td>
                          <td class="number js-pris-calc">{{ grundsalg.entity_widget(entity.akrkorr1) }}</td>
                          <td class="number js-readonly">
                            <input type="text" id="vis_priskorrektion1_total" name="vis_storparcel[priskorrektion1_total]" disabled="disabled" class="form-control">
                          </td>
                        </tr>
                        <tr class="js-priskorrektion">
                          <td></td>
                          <td colspan="2" class="priskorrektion--select">{{ grundsalg.entity_widget(entity.priskorrektion2) }}</td>
                          <td class="number js-pris-calc">{{ grundsalg.entity_widget(entity.antalkorr2) }}</td>
                          <td class="number js-pris-calc">{{ grundsalg.entity_widget(entity.akrkorr2) }}</td>
                          <td class="number js-readonly">
                            <input type="text" id="vis_priskorrektion2_total" name="vis_storparcel[priskorrektion2_total]" disabled="disabled" class="form-control">
                          </td>
                        </tr>
                        <tr class="js-priskorrektion">
                          <td></td>
                          <td colspan="2" class="priskorrektion--select">{{ grundsalg.entity_widget(entity.priskorrektion3) }}</td>
                          <td class="number js-pris-calc">{{ grundsalg.entity_widget(entity.antalkorr3) }}</td>
                          <td class="number js-pris-calc">{{ grundsalg.entity_widget(entity.akrkorr3) }}</td>
                          <td class="number js-readonly">
                            <input type="text" id="vis_priskorrektion3_total" name="vis_storparcel[priskorrektion3_total]" disabled="disabled" class="form-control">
                          </td>
                        </tr>
                        <tr class="js-priskorrektion">
                          <td colspan="5" class="priskorrektion_total"></td>
                          <td class="number pris-total js-readonly">
                            {{ grundsalg.entity_widget(entity.pris) }}
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="field-group col-xs-12">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ 'app.grund.note' | trans }}</h3>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-12">
                      {{ grundsalg.entity_row('app.grund.note', entity.note ) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
          <div class="row">

            {# Lokalplan #}
            <div class="field-group col-xs-12 col-sm-6">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    Lokalplan
                  </h3>
                </div>

                <div class="box-body">
                  {% if entity.salgsomraade and entity.salgsomraade.lokalplan %}
                    <dl class="dl-horizontal">
                      <dt>LP</dt>
                      <dd>{{ entity.salgsomraade.lokalplan.nr }}</dd>
                      <dt>Titel</dt>
                      <dd>{{ entity.salgsomraade.lokalplan.titel }}</dd>
                      <dt>Projektleder</dt>
                      <dd>{{ entity.salgsomraade.lokalplan.projektleder }}</dd>
                      <dt>Tlf. nr.</dt>
                      <dd>{{ entity.salgsomraade.lokalplan.telefon }}</dd>
                      <dd>
                        <br>
                        <a class="btn btn default" href="{{ path('easyadmin', parameters = {'action': 'edit', 'entity': 'lokalplan', 'id': entity.salgsomraade.lokalplan.id}) }}">Vis Lokalplan</a>
                      </dd>
                    </dl>
                  {% else %}
                    <dl class="dl-horizontal">
                      <dt>LP</dt>
                      <dd></dd>
                      <dt>Titel</dt>
                      <dd></dd>
                      <dt>Projektleder</dt>
                      <dd></dd>
                      <dt>Tlf. nr.</dt>
                      <dd></dd>
                      <dd></dd>
                    </dl>
                  {% endif %}
                </div>
              </div>
            </div>

            {# Delomraade #}
            <div class="field-group col-xs-12 col-sm-6">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    Delområde
                  </h3>
                </div>

                <div class="box-body">
                  {% if entity.salgsomraade and entity.salgsomraade.delomraade %}
                    <dl class="dl-horizontal">
                      <dt>LP-område</dt>
                      <dd>{{ entity.salgsomraade.delomraade.o1 }}-{{ entity.salgsomraade.delomraade.o2 }}.{{ entity.salgsomraade.delomraade.o3 }}</dd>
                      <dt>KPL</dt>
                      <dd>{{ entity.salgsomraade.delomraade.kpl1 }}.{{ entity.salgsomraade.delomraade.kpl2 }}.{{ entity.salgsomraade.delomraade.kpl3 }}.{{ entity.salgsomraade.delomraade.kpl4 }}</dd>
                      <dt>Anvendelse</dt>
                      <dd>{{ entity.salgsomraade.delomraade.anvendelse }}</dd>
                      <dt>Mulighed for</dt>
                      <dd>
                        {% if entity.salgsomraade.delomraade.mulighedfor is iterable %}
                          {{ entity.salgsomraade.delomraade.mulighedfor | join(', ') }}
                        {% else %}
                          {{ entity.salgsomraade.delomraade.mulighedfor }}
                        {% endif %}
                      </dd>
                    </dl>
                  {% else %}
                    <dl class="dl-horizontal">
                      <dt>LP-område</dt>
                      <dd></dd>
                      <dt>KPL</dt>
                      <dd></dd>
                      <dt>Anvendelse</dt>
                      <dd></dd>
                      <dt>Mulighed for</dt>
                      <dd></dd>
                    </dl>
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
          <div class="row">
            <div class="field-group col-xs-12">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    {{ 'app.salgsomraade.salgsomraade' | trans }}
                  </h3>
                </div>

                <div class="box-body">

                  {{ grundsalg.entity_row('app.grund.landinspektoer', entity.landinspektoer ) }}

                  <div class="col-xs-12 ">
                    <div class="field-divider">
                      <hr>
                    </div>

                  </div>

                  <dl class="dl-horizontal">
                    <dt>Adresse</dt>
                    <dd>{{ entity.landinspektoer ? entity.landinspektoer.adresse }}</dd>
                    <dt>Postnr/By</dt>
                    <dd>{{ entity.landinspektoer ? entity.landinspektoer.postby }}</dd>
                    <dt>Tlf. nr.</dt>
                    <dd>{{ entity.landinspektoer ? entity.landinspektoer.telefon }}</dd>
                    <dt>Mobil</dt>
                    <dd>{{ entity.landinspektoer ? entity.landinspektoer.mobil }}</dd>
                    <dt>Email</dt>
                    <dd>{{ entity.landinspektoer ? entity.landinspektoer.email }}</dd>
                    {% if entity.landinspektoer %}
                      <dd>
                        <br>
                        <a class="btn btn default" href="{{ path('easyadmin', parameters = {'action': 'edit', 'entity': 'landinspektoer', 'id': entity.landinspektoer.id }) }}">Vis Landinspektør</a>
                      </dd>
                    {% endif %}
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_4">
          <div class="row">
            <div class="field-group col-xs-12">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    {{ 'app.grund.salg' | trans }}
                  </h3>
                </div>

                <div class="box-body">

                  <div class="row js-auktion-wrapper">
                    <div class="col-md-6">
                      {{ grundsalg.entity_row('app.grund.auktionstartdato', entity.auktionstartdato) }}
                    </div>
                    <div class="col-md-6">
                      {{ grundsalg.entity_row('app.grund.auktionslutdato', entity.auktionslutdato) }}
                    </div>
                  </div>

                  <div class="row js-resdate-wrapper">
                    <div class="col-md-6">
                      {{ grundsalg.entity_row('app.grund.resstart', entity.resstart ) }}
                    </div>
                    <div class="col-md-6">
                      {{ grundsalg.entity_row('app.grund.resslut', entity.resslut ) }}
                    </div>
                  </div>

                  <div class="row js-tilbuddate-wrapper">
                    <div class="col-md-6">
                      {{ grundsalg.entity_row('app.grund.tilbudstart', entity.tilbudstart ) }}
                    </div>
                    <div class="col-md-6">
                      {{ grundsalg.entity_row('app.grund.tilbudslut', entity.tilbudslut ) }}
                    </div>
                  </div>

                  <div class="row js-salgsdatoer-wrapper">
                    <div class="col-md-6">
                      {{ grundsalg.entity_row('app.grund.accept', entity.accept ) }}
                    </div>
                    <div class="col-md-6">
                      {{ grundsalg.entity_row('app.grund.overtagelse', entity.overtagelse ) }}
                    </div>
                  </div>

                  <div class="row js-salgsdatoer-wrapper">
                    <div class="col-md-6">

                      {{ grundsalg.entity_row('app.grund.skoederekv', entity.skoederekv ) }}
                      {{ grundsalg.entity_row('app.grund.beloebanvist', entity.beloebanvist ) }}

                      <div class="form-group field-entity js-fastpris">
                        <label class="col-sm-2 control-label">{{ 'app.grund.salgsprisumoms' | trans }}</label>
                        <div class="col-sm-10">
                          <span class="form-control">{{ entity.salgsprisumoms | number_format }} Kr.</span>
                        </div>
                      </div>

                      <div class="form-group field-entity js-antagetbud-wrapper">
                        <label class="col-sm-2 control-label">{{ 'app.grund.antagetbud' | trans }}</label>
                        <div class="col-sm-10">
                          <span class="form-control">{{ entity.antagetbud | number_format }} Kr.</span>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="row js-koeber-wrapper">
            <div class="field-group col-md-6">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    {{ 'app.grund.koeber' | trans }}
                  </h3>
                </div>

                <div class="box-body">
                  {{ grundsalg.entity_row('app.grund.koeberNavn', entity.koeberNavn ) }}
                  {{ grundsalg.entity_row('app.grund.koeberAdresse', entity.koeberAdresse ) }}
                  {{ grundsalg.entity_row('app.grund.koeberPostby', entity.koeberPostby ) }}
                  {{ grundsalg.entity_row('app.grund.koeberLand', entity.koeberLand ) }}
                  {{ grundsalg.entity_row('app.grund.koeberTelefon', entity.koeberTelefon ) }}
                  {{ grundsalg.entity_row('app.grund.koeberMobil', entity.koeberMobil ) }}
                  {{ grundsalg.entity_row('app.grund.koeberEmail', entity.koeberEmail ) }}
                </div>
              </div>
            </div>

            <div class="field-group col-md-6">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    {{ 'app.grund.medkoeber' | trans }}
                  </h3>
                </div>

                <div class="box-body">
                  {{ grundsalg.entity_row('app.grund.koeberNavn', entity.medKoeberNavn ) }}
                  {{ grundsalg.entity_row('app.grund.koeberAdresse', entity.medKoeberAdresse ) }}
                  {{ grundsalg.entity_row('app.grund.koeberPostby', entity.medKoeberPostby ) }}
                  {{ grundsalg.entity_row('app.grund.koeberLand', entity.medKoeberLand ) }}
                  {{ grundsalg.entity_row('app.grund.koeberTelefon', entity.medKoeberTelefon ) }}
                  {{ grundsalg.entity_row('app.grund.koeberMobil', entity.medKoeberMobil ) }}
                  {{ grundsalg.entity_row('app.grund.koeberEmail', entity.medKoeberEmail ) }}
                </div>
              </div>
            </div>
          </div>


          <div class="row js-koeber-wrapper">
            <div class="field-group col-xs-12">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    {{ 'app.grund.koeberNotat' | trans }}
                  </h3>
                </div>

                <div class="box-body">
                  {{ grundsalg.entity_row('app.grund.koeberNotat', entity.koeberNotat ) }}
                </div>
              </div>
            </div>
          </div>

        </div>


        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_5">
          <div class="row">
            <div class="field-group col-xs-12">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>{{ 'app.grund.koeberNavn' | trans }}</th>
                  <th>{{ 'app.grund.koeberAdresse' | trans }}</th>
                  <th>{{ 'app.interessent.createdAt' | trans }}</th>
                  <th>{{ 'app.interessent.annulleret' | trans }}</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in entity.reservationer %}
                  <tr>
                    <td>{{ reservation.interessent.koeberNavn }}</td>
                    <td>{{ reservation.interessent.koeberAdresse }}</td>
                    <td>{{ reservation.interessent.createdAt | date }}</td>
                    <td>{{ reservation.annulleret ? 'label.yes' | trans }}</td>
                    <td>
                      <a class="btn btn-default" href="{{ path('easyadmin', parameters = {'action': 'show', 'entity': 'interessent', 'id': reservation.interessent.id }) }}">{{ 'action.show' | trans }}</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_6">
          <div class="row">
            <div class="field-group col-xs-12">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>{{ 'app.salgshistorik.navn' | trans }}</th>
                  <th>{{ 'app.salgshistorik.status' | trans }}</th>
                  <th>{{ 'app.salgshistorik.createdAt' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for salg in entity.salgshistorik %}
                  <tr>
                    <td>{{ salg.navn }}</td>
                    <td>{{ salg.salgStatus }}</td>
                    <td>{{ salg.createdAt | date }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /.tab-pane -->
      </div>
      <!-- /.tab-content -->
    </div>

    {% include "easy_admin/_includes/_blameable.html.twig" %}

    <div class="form-group form-actions">
      <div class="col-sm-10 col-sm-offset-2">
        {% block item_actions %}
          {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}
          {% set _request_parameters = { entity: _entity_config.name, referer: app.request.query.get('referer') } %}

          {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
            actions: _show_actions,
            request_parameters: _request_parameters,
            translation_domain: _entity_config.translation_domain,
            trans_parameters: _trans_parameters,
            item_id: _entity_id
          }, with_context = false) }}
        {% endblock item_actions %}
      </div>
    </div>
  </div>

  {% block delete_form %}
    {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
      view: 'show',
      referer: app.request.query.get('referer', ''),
      delete_form: delete_form,
      _translation_domain: _entity_config.translation_domain,
      _trans_parameters: _trans_parameters,
      _entity_config: _entity_config,
    }, with_context = false) }}
  {% endblock delete_form %}

  <script src="/js/grund-form-show.js"></script>

{% endblock %}