{% extends "@EasyAdmin/default/edit.html.twig" %}

{% block main %}

  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Grundoplysninger</a></li>
      <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Lokalplan m.v.</a></li>
      <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Landinspektør</a></li>
      <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">Salg</a></li>
      <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="false">Venteliste</a></li>
      <li class=""><a href="#tab_6" data-toggle="tab" aria-expanded="false">Historiske salg</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">

        {{ parent() }}

      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="tab_2">
        <div class="row">

          {# Lokalplan #}
          <div class="field-group col-xs-12 col-sm-6">
            <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Lokalplan
                </h3>
              </div>

              <div class="box-body">

                <dl class="dl-horizontal">
                  <dt>LP</dt>
                  <dd>{{ entity.salgsomraade.lokalplan.nr }}</dd>
                  <dt>Titel</dt>
                  <dd>{{ entity.salgsomraade.lokalplan.titel }}</dd>
                  <dt>Projektleder</dt>
                  <dd>{{ entity.salgsomraade.lokalplan.projektleder }}</dd>
                  <dt>Tlf. nr.</dt>
                  <dd>{{ entity.salgsomraade.lokalplan.telefon }}</dd>
                  <dd>
                    <br>
                    <a class="btn btn default" href="{{ path('easyadmin', parameters = {'action': 'edit', 'entity': 'lokalplan', 'id': entity.salgsomraade.lokalplan.id}) }}">Vis Lokalplan</a>
                  </dd>
                </dl>
              </div>
            </div>
          </div>

          {# Delomraade #}
          <div class="field-group col-xs-12 col-sm-6">
            <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Delområde
                </h3>
              </div>

              <div class="box-body">

                <dl class="dl-horizontal">
                  <dt>LP-område</dt>
                  <dd>{{ entity.salgsomraade.delomraade.o1 }}-{{ entity.salgsomraade.delomraade.o2 }}.{{ entity.salgsomraade.delomraade.o3 }}</dd>
                  <dt>KPL</dt>
                  <dd>{{ entity.salgsomraade.delomraade.kpl1 }}.{{ entity.salgsomraade.delomraade.kpl2 }}.{{ entity.salgsomraade.delomraade.kpl3 }}.{{ entity.salgsomraade.delomraade.kpl4 }}</dd>
                  <dt>Anvendelse</dt>
                  <dd>{{ entity.salgsomraade.delomraade.anvendelse }}</dd>
                  <dt>Mulighed for</dt>
                  <dd>{{ entity.salgsomraade.delomraade.mulighedfor }}</dd>
                </dl>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="tab_3">
        <div class="row">'
          <div class="field-group col-xs-12 col-sm-6">
            <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Landinspektør
                </h3>
              </div>

              <div class="box-body">

                <dl class="dl-horizontal">
                  <dt>Navn</dt>
                  <dd>{{ entity.landinspektoer ? entity.landinspektoer.navn }}</dd>
                  <dt>Adresse</dt>
                  <dd>{{ entity.landinspektoer ? entity.landinspektoer.adresse }}</dd>
                  <dt>Postnr/By</dt>
                  <dd>{{ entity.landinspektoer ? entity.landinspektoer.postby }}</dd>
                  <dt>Tlf. nr.</dt>
                  <dd>{{ entity.landinspektoer ? entity.landinspektoer.telefon }}</dd>
                  <dt>Mobil</dt>
                  <dd>{{ entity.landinspektoer ? entity.landinspektoer.mobil }}</dd>
                  <dt>Email</dt>
                  <dd>{{ entity.landinspektoer ? entity.landinspektoer.email }}</dd>
                  {% if entity.landinspektoer %}
                    <dd>
                      <br>
                      <a class="btn btn default" href="{{ path('easyadmin', parameters = {'action': 'edit', 'entity': 'landinspektoer', 'id': entity.landinspektoer.id }) }}">Vis Landinspektør</a>
                    </dd>
                  {% endif %}
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="tab_4">
        4
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="tab_5">
        5
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="tab_6">
        6
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div>


{% endblock %}