{% extends '@EasyAdmin/default/list.html.twig' %}

{% block main %}
  {% set _list_item_actions = easyadmin_get_actions_for_list_item(_entity_config.name) %}
  {% set _bulk_actions = _entity_config.list.bulk.actions|default() %}
  {# We need a form wrapping the entity list and bulk actions. #}
  <form method="POST" id="list-form">

  {% block bulk_actions_top %}
    <div class="bulk-actions">
      {% if paginator.currentPageResults.count > 0 %}
        {% if _bulk_actions %}
          {% if _entity_config.class == 'AppBundle\\Entity\\Grund' %}
            {% include 'easy_admin/grund/_bulk_actions.html.twig' %}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if _entity_config.class == 'AppBundle\\Entity\\Grund' %}
        <div class="bulk-create-grund">
          <a class="btn btn default" href="{{ path('easyadmin', parameters = {'action': 'new', 'entity': 'grund_collection', 'referer': app.request.requestUri}) }}">Opret Grunde (flere)</a>
        </div>
      {% endif %}
    </div>
  {% endblock %}

  <div class="table-responsive">
    <table class="table easyadmin-list">
      <thead>
        {% block table_head %}
          <tr>
            {% if _bulk_actions %}
              <th class="bulk-ids">
                <span><input type="checkbox" class="bulk-ids-toggle" /></span>
              </th>
            {% endif %}
            {% for field, metadata in fields %}
              {% set isSortingField = metadata.property == app.request.get('sortField') %}
              {% set nextSortDirection = isSortingField ? (app.request.get('sortDirection') == 'DESC' ? 'ASC' : 'DESC') : 'DESC' %}
              {% set _column_label = (metadata.label ?: field|humanize)|trans(_trans_parameters) %}
              {% set _column_icon = isSortingField ? (nextSortDirection == 'DESC' ? 'fa-caret-up' : 'fa-caret-down') : 'fa-sort' %}

              <th data-property-name="{{ metadata.property }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.virtual ? 'virtual' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">
                {% if metadata.sortable %}
                  <a href="{{ path('easyadmin', _request_parameters|merge({ sortField: metadata.property, sortDirection: nextSortDirection })) }}">
                    <i class="fa {{ _column_icon }}"></i>
                    {{ _column_label|raw }}
                  </a>
                {% else %}
                  <span>{{ _column_label|raw }}</span>
                {% endif %}
              </th>
            {% endfor %}

            {% if _list_item_actions|length > 0 %}
              <th>
                <span>{{ 'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') }}</span>
              </th>
            {% endif %}
          </tr>
        {% endblock table_head %}
      </thead>

      <tbody>
        {% block table_body %}
          {% for item in paginator.currentPageResults %}
            {% set _item_id = attribute(item, _entity_config.primary_key_field_name) %}
            <tr data-id="{{ _item_id }}">
              {% if _bulk_actions %}
                <td class="bulk-select">
                  <input type="checkbox" name="bulk[ids][]" value="{{ _item_id }}"/>
                </td>
              {% endif %}
              {% for field, metadata in fields %}
                {% set isSortingField = metadata.property == app.request.get('sortField') %}
                {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters) %}

                <td data-label="{{ _column_label }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">
                  {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
                </td>
              {% endfor %}

              {% if _list_item_actions|length > 0 %}
                {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
                <td data-label="{{ _column_label }}" class="actions">
                  {% block item_actions %}
                    {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                      actions: _list_item_actions,
                      request_parameters: _request_parameters,
                      translation_domain: _entity_config.translation_domain,
                      trans_parameters: _trans_parameters,
                      item_id: _item_id
                    }, with_context = false) }}
                {% endblock item_actions %}
              </td>
            {% endif %}
          </tr>
        {% else %}
          <tr>
              {% set _offset = _bulk_actions ? 2 : 1  %}
            <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + _offset : fields|length }}">
              {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </td>
          </tr>
          {% endfor %}
        {% endblock table_body %}
      </tbody>
    </table>
  </div>

  {% block bulk_actions_bottom %}
    {% if paginator.currentPageResults.count > 0 %}
      {% if _bulk_actions %}
        <div class="bulk-actions">
          {% if _entity_config.class == 'AppBundle\\Entity\\Grund' %}
            {% include 'easy_admin/grund/_bulk_actions.html.twig' %}
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  {% endblock %}

  </form>

  {% block paginator %}
    {{ include(_entity_config.templates.paginator) }}
  {% endblock paginator %}

  {% block delete_form %}
    {% set referer = paginator.currentPage == paginator.nbPages and 1 != paginator.currentPage and 1 == paginator.currentPageResults.count
    ? path('easyadmin', app.request.query|merge({ page: app.request.query.get('page') - 1 }))
    : app.request.requestUri %}

    {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
      view: 'list',
      referer: referer|url_encode,
      delete_form: delete_form_template,
      _translation_domain: _entity_config.translation_domain,
      _trans_parameters: _trans_parameters,
      _entity_config: _entity_config,
    }, with_context = false) }}
  {% endblock delete_form %}
{% endblock main %}
